workflows/slack-agent-report.json
{
  "name": "Slack: Agent Task Report",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// ── Agent Report Builder ──────────────────────────────────────────\n// Formats an agent task completion report for Slack.\n// In production, replace this node's input with actual agent output\n// from the Ollama HTTP node or a sub-workflow.\n//\n// Expected input fields (from upstream nodes):\n//   agent_name   : string — e.g. 'Jason'\n//   task         : string — what was done\n//   result       : string — output or summary\n//   status       : 'success' | 'error' | 'partial'\n//   duration_sec : number — how long it took\n\nconst input = $input.first().json;\n\nconst agent    = input.agent_name  || 'Unknown Agent';\nconst task     = input.task        || 'Unspecified task';\nconst result   = input.result      || 'No output';\nconst status   = input.status      || 'success';\nconst duration = input.duration_sec || 0;\n\nconst statusEmoji = {\n  success : ':white_check_mark:',\n  error   : ':x:',\n  partial : ':warning:'\n}[status] || ':grey_question:';\n\n// Build Slack Block Kit message\nconst message = {\n  blocks: [\n    {\n      type: 'header',\n      text: {\n        type: 'plain_text',\n        text: `${statusEmoji}  Agent Report — ${agent}`,\n        emoji: true\n      }\n    },\n    {\n      type: 'section',\n      fields: [\n        { type: 'mrkdwn', text: `*Task:*\\n${task}` },\n        { type: 'mrkdwn', text: `*Status:*\\n${status.toUpperCase()}` },\n        { type: 'mrkdwn', text: `*Agent:*\\n${agent}` },\n        { type: 'mrkdwn', text: `*Duration:*\\n${duration}s` }\n      ]\n    },\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: `*Output:*\\n\\`\\`\\`${result.substring(0, 2800)}\\`\\`\\``\n      }\n    },\n    {\n      type: 'context',\n      elements: [\n        {\n          type: 'mrkdwn',\n          text: `<!date^${Math.floor(Date.now()/1000)}^{date_short_pretty} at {time}|${new Date().toISOString()}>  ·  ai-workers`\n        }\n      ]\n    }\n  ]\n};\n\nreturn [{ json: { slackPayload: message } }];"
      },
      "id": "format-report",
      "name": "Format Agent Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_INCOMING_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.slackPayload) }}"
      },
      "id": "post-to-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log the result\nconst status = $input.first().json;\nconsole.log('Slack response:', JSON.stringify(status));\nreturn $input.all();"
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Format Agent Report", "type": "main", "index": 0 }]]
    },
    "Format Agent Report": {
      "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]]
    },
    "Post to Slack": {
      "main": [[{ "node": "Log Result", "type": "main", "index": 0 }]]
    }
  },
  "meta": {
    "description": "Posts a formatted agent task completion report to Slack via Incoming Webhook. Accepts agent_name, task, result, status, duration_sec as inputs. Replace Manual Trigger with a sub-workflow call or Ollama output in production.",
    "tags": ["slack", "reporting", "agents"]
  },
  "settings": {
    "executionOrder": "v1"
  }
}
