workflows/slack-command-trigger.json
{
  "name": "Slack: Slash Command → Ollama Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-command",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook-receiver",
      "name": "Slack Slash Command",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "slack-command"
    },
    {
      "parameters": {
        "jsCode": "// ── Parse Slack Slash Command Payload ──────────────────────────────\n// Slack sends slash command data as URL-encoded form body.\n// Fields: command, text, user_name, user_id, channel_name, channel_id,\n//         team_id, response_url, trigger_id\n\nconst body = $input.first().json.body;\n\n// URL-decode the body if it came as a raw string\nlet parsed = body;\nif (typeof body === 'string') {\n  parsed = {};\n  body.split('&').forEach(pair => {\n    const [k, v] = pair.split('=');\n    parsed[decodeURIComponent(k)] = decodeURIComponent(v.replace(/\\+/g, ' '));\n  });\n}\n\nconst command     = parsed.command     || '/ai';\nconst userText    = parsed.text        || '';\nconst userName    = parsed.user_name   || 'unknown';\nconst channelName = parsed.channel_name || 'unknown';\nconst responseUrl = parsed.response_url || '';\n\n// Route to agent based on command text prefix\n// e.g. 'kevin: draw a diagram' → Kevin personality\n// e.g. 'jason: refactor this' → Jason personality\n// default → round-robin or configured default agent\n\nconst AGENT_PREFIXES = ['kevin', 'jason', 'scaachi', 'christian', 'chidi'];\nlet agentName = 'jason';  // default agent\nlet taskText  = userText;\n\nfor (const name of AGENT_PREFIXES) {\n  if (userText.toLowerCase().startsWith(name + ':')) {\n    agentName = name;\n    taskText  = userText.slice(name.length + 1).trim();\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    command,\n    rawText:     userText,\n    taskText,\n    agentName,\n    userName,\n    channelName,\n    responseUrl,\n    receivedAt:  new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-command",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response_type: 'ephemeral', text: ':hourglass_flowing_sand: Routing to *' + $json.agentName + '*... I\\'ll post results when done.' }) }}"
      },
      "id": "ack-slack",
      "name": "Immediate ACK to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"model\": \"{{ $json.agentName }}\",\n  \"prompt\": \"{{ $json.taskText }}\",\n  \"stream\": false\n}"
      },
      "id": "ollama-request",
      "name": "Send to Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract Ollama response and prepare for Slack\nconst ollamaResponse = $input.first().json;\nconst upstream       = $('Parse Command').first().json;\n\nconst agentName  = upstream.agentName;\nconst taskText   = upstream.taskText;\nconst userName   = upstream.userName;\nconst responseUrl = upstream.responseUrl;\n\nlet responseText = ollamaResponse.response || 'No response from agent.';\n\n// Truncate to Slack's 3000 char limit per block\nif (responseText.length > 2800) {\n  responseText = responseText.substring(0, 2800) + '\\n... _(truncated)_';\n}\n\nconst slackPayload = {\n  response_type: 'in_channel',\n  blocks: [\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: `:robot_face: *${agentName.charAt(0).toUpperCase() + agentName.slice(1)}* responding to @${userName}'s request:\\n> ${taskText}`\n      }\n    },\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: responseText\n      }\n    },\n    {\n      type: 'context',\n      elements: [\n        {\n          type: 'mrkdwn',\n          text: `Via ai-workers · <!date^${Math.floor(Date.now()/1000)}^{time}|now>`\n        }\n      ]\n    }\n  ]\n};\n\nreturn [{\n  json: {\n    responseUrl,\n    slackPayload\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.responseUrl }}",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.slackPayload) }}"
      },
      "id": "post-delayed-reply",
      "name": "Post Delayed Reply to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Slack Slash Command": {
      "main": [
        [
          { "node": "Parse Command", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          { "node": "Immediate ACK to Slack", "type": "main", "index": 0 },
          { "node": "Send to Ollama", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send to Ollama": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Post Delayed Reply to Slack", "type": "main", "index": 0 }]]
    }
  },
  "meta": {
    "description": "Receives Slack slash commands (/ai), routes to the appropriate Ollama personality, and posts the response back to Slack via the response_url. Immediately ACKs Slack (within 3s) then posts the actual agent reply asynchronously. Agent routing: prefix task with 'kevin:', 'jason:', etc. Default agent: jason.",
    "tags": ["slack", "ollama", "slash-command", "agents"]
  },
  "settings": {
    "executionOrder": "v1"
  }
}
