services/n8n/workflows/3d-cad-generator.json
{
  "id": "cad-3d-001",
  "name": "3D CAD Generator",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cad-3d",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cad-webhook-01",
      "name": "Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "cad-3d-wh-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst description = (body.description || '').trim();\nconst channelId   = body.channelId || '';\nconst userId      = body.userId || '';\nconst userName    = body.userName || 'user';\n// Sanitize jobId: only 8 lowercase hex chars\nconst jobId      = (body.jobId || '').toString().replace(/[^a-f0-9]/gi, '').slice(0, 8).toLowerCase();\nconst inlineCode = (body.inlineCode || '').trim();\n\nif (!description) {\n  throw new Error('description is required');\n}\n\nreturn [{ json: { description, channelId, userId, userName, jobId, inlineCode } }];\n"
      },
      "id": "cad-parse-01",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8190/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ description: $json.description, channelId: $json.channelId, userId: $json.userId, userName: $json.userName, jobId: $json.jobId || null, inlineCode: $json.inlineCode || null }) }}",
        "options": {
          "timeout": 1800000
        }
      },
      "id": "cad-ollama-01",
      "name": "Generate 3D",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst code        = d.code || '';\nconst description = d.description || '';\nconst channelId   = d.channelId || '';\nconst userId      = d.userId || '';\nconst userName    = d.userName || 'user';\nconst success     = d.success || false;\nconst jobId       = d.job_id || '';\nconst stlPath     = d.stl_path || null;\nconst pngB64      = d.png_b64 || null;\nconst attempts    = d.attempts || 1;\nconst error       = d.error || null;\n\nreturn [{ json: { code, description, channelId, userId, userName, success, jobId, stlPath, pngB64, attempts, error } }];\n"
      },
      "id": "cad-format-01",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst pngB64 = prev.pngB64 || null;\n\n// Build binary item from base64 if we have a PNG\nconst result = { json: prev };\nif (pngB64) {\n  result.binary = {\n    data: {\n      data: pngB64,\n      mimeType: 'image/png',\n      fileName: '3d-preview.png',\n      fileSize: Math.ceil(pngB64.length * 0.75),\n    }\n  };\n}\nreturn [result];"
      },
      "id": "612f22cb-2f7d-4863-b551-9100f478a81d",
      "name": "Decode PNG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (() => {\n  const d = $input.first().json;\n  const channelId   = d.channelId || '';\n  const description = d.description || '';\n  const stlPath     = d.stlPath || null;\n  const code        = d.code || '';\n  const jobId       = d.jobId || '';\n  const success     = d.success !== false;\n  const attempts    = d.attempts || 1;\n  const error       = d.error || null;\n  const imageUrl = jobId ? 'https://appendicular-wilson-looser.ngrok-free.dev/webhook/preview-3d?job=' + jobId : null;\n\n  // Truncate code for Slack block (3000 char limit per block)\n  const codePath = stlPath ? stlPath.replace(/\\.stl$/, '.py') : null;\n  const codeSnip = code.length > 2600\n    ? code.slice(0, 2600) + '\\n# ... (full code saved at ' + (codePath || 'server') + ')'\n    : code;\n\n  const blocks = [\n    { type: 'header', text: { type: 'plain_text', text: ':triangular_ruler: 3D Model Generated', emoji: true } },\n    { type: 'section', text: { type: 'mrkdwn', text: '*' + description + '*' } },\n  ];\n\n  if (imageUrl) {\n    blocks.push({ type: 'image', image_url: imageUrl, alt_text: '3D model preview' });\n  }\n\n  blocks.push({ type: 'divider' });\n\n  if (stlPath) {\n    blocks.push({ type: 'section', text: { type: 'mrkdwn',\n      text: ':white_check_mark: *STL:* `' + stlPath + '`\\n_Slice in PrusaSlicer / Bambu Studio / Cura to print_' } });\n  }\n\n  if (!success || error) {\n    const errMsg = error ? error.slice(0, 300) : 'Model generation had issues \u2014 check the code manually.';\n    blocks.push({ type: 'section', text: { type: 'mrkdwn',\n      text: ':warning: *Generation issue:* ' + errMsg } });\n  } else if (attempts > 1) {\n    blocks.push({ type: 'section', text: { type: 'mrkdwn',\n      text: ':repeat: _Self-corrected in ' + attempts + ' attempt' + (attempts > 1 ? 's' : '') + '_' } });\n  }\n\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*CadQuery source:*\\n```\\n' + codeSnip + '\\n```' } });\n\n  const hint = jobId\n    ? ':pencil: Paste into CadQuery / Python to edit \u00b7 _Job: `' + jobId + '` \u00b7 Improve with `/3d improve ' + jobId + ' <changes>`_'\n    : ':pencil: Paste code into CadQuery / Python to edit \u00b7 _Improve with `/3d code <description>\\\\n<paste code>`_';\n  blocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: hint }] });\n\n  return JSON.stringify({ channel: channelId, blocks, unfurl_links: false });\n})() }}",
        "options": {}
      },
      "id": "fc8de743-e612-42a6-820e-c7e068ed4ca8",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "e95dba42-b602-4136-8d0e-b14dc68c44c0",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction httpsReq(options, body) {\n  return new Promise((resolve, reject) => {\n    if (Buffer.isBuffer(body)) {\n      options.headers = options.headers || {};\n      options.headers['Content-Length'] = body.length;\n    }\n    const req = https.request(options, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const text = Buffer.concat(chunks).toString();\n        try { resolve(JSON.parse(text)); } catch { resolve({ _raw: text }); }\n      });\n    });\n    req.on('error', reject);\n    if (body) req.write(body);\n    req.end();\n  });\n}\n\nconst token = $env.SLACK_BOT_TOKEN;\nconst item = $input.first();\nconst b64 = item.binary && item.binary.data ? item.binary.data.data : null;\n\nif (!b64) {\n  return [{ json: { ...item.json, fileId: null, uploaded: false } }];\n}\n\nconst buf = Buffer.from(b64, 'base64');\nconst mimeType = item.binary.data.mimeType || 'application/octet-stream';\nconst fileName = item.binary.data.fileName || 'file.bin';\nconst channelId = item.json.channelId || '';\nconst description = item.json.description || '';\nconst stlPath = item.json.stlPath || null;\n\n// Step 0: Join the channel so the bot can share files there\n// (chat.postMessage works without joining, but files.completeUploadExternal requires membership)\nif (channelId) {\n  const joinBody = `channel=${encodeURIComponent(channelId)}`;\n  await httpsReq({\n    method: 'POST', hostname: 'slack.com',\n    path: '/api/conversations.join',\n    headers: {\n      'Authorization': `Bearer ${token}`,\n      'Content-Type': 'application/x-www-form-urlencoded',\n      'Content-Length': Buffer.byteLength(joinBody),\n    }\n  }, Buffer.from(joinBody));\n  // Ignore join errors (may already be a member, or private channel)\n}\n\n// Step 1: Get upload URL\nconst body1 = `filename=${encodeURIComponent(fileName)}&length=${buf.length}`;\nconst urlData = await httpsReq({\n  method: 'POST', hostname: 'slack.com',\n  path: '/api/files.getUploadURLExternal',\n  headers: {\n    'Authorization': `Bearer ${token}`,\n    'Content-Type': 'application/x-www-form-urlencoded',\n    'Content-Length': Buffer.byteLength(body1),\n  }\n}, Buffer.from(body1));\n\nif (!urlData.ok) throw new Error(`getUploadURL failed: ${JSON.stringify(urlData)}`);\nconst { upload_url, file_id } = urlData;\n\n// Step 2: PUT binary\nconst urlMatch = upload_url.match(/^https?:\\/\\/([^\\/]+)(\\/[^?]*)?(\\?.*)?$/);\nawait httpsReq({\n  method: 'PUT', hostname: urlMatch[1],\n  path: (urlMatch[2] || '/') + (urlMatch[3] || ''),\n  headers: { 'Content-Type': mimeType, 'Content-Length': buf.length }\n}, buf);\n\n// Step 3: Complete + share to channel \u2014 now that bot has joined, this should work\nconst comment = `:triangular_ruler: *3D Preview* \u2014 ${description}`\n  + (stlPath ? `\\n:white_check_mark: STL: \\`${stlPath}\\`\\n_Open in PrusaSlicer, Bambu Studio, or OpenSCAD_` : '');\n\nconst completeBody = JSON.stringify({\n  files: [{ id: file_id }],\n  ...(channelId ? { channel_id: channelId } : {}),\n  initial_comment: comment,\n});\n\nconst completeResp = await httpsReq({\n  method: 'POST', hostname: 'slack.com',\n  path: '/api/files.completeUploadExternal',\n  headers: {\n    'Authorization': `Bearer ${token}`,\n    'Content-Type': 'application/json',\n    'Content-Length': Buffer.byteLength(completeBody),\n  }\n}, Buffer.from(completeBody));\n\nconst fileShared = completeResp.ok || false;\nconst fileError = completeResp.error || null;\n\nreturn [{ json: {\n  ...item.json,\n  fileId: file_id,\n  uploaded: true,\n  fileShared,\n  fileError,\n} }];"
      },
      "id": "b6ffbbdf-36bd-4777-8c2b-3826180b31de",
      "name": "Upload to Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Generate 3D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate 3D": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Decode PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode PNG": {
      "main": [
        [
          {
            "node": "Upload to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Slack": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": 900
  },
  "staticData": null,
  "updatedAt": "2026-03-14T00:24:50.000Z"
}