services/n8n/workflows/3d-cad-generator.json
{
  "id": "cad-3d-001",
  "name": "3D CAD Generator",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cad-3d",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cad-webhook-01",
      "name": "Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "cad-3d-wh-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst description = (body.description || '').trim();\nconst channelId = body.channelId || '';\nconst userId = body.userId || '';\nconst userName = body.userName || 'user';\n\nconst systemPrompt = `You are an expert OpenSCAD programmer who creates parametric 3D-printable models.\n\nOUTPUT RULES \u2014 follow exactly:\n1. Output ONLY valid OpenSCAD code. Zero markdown, zero explanations, no text outside code.\n2. Start with parameter variables at the top (dimensions in mm).\n3. Add brief inline comments on each major section.\n4. The model MUST be genuinely 3D (has real volume in X, Y, and Z).\n5. Center the finished model at the origin.\n\nMANDATORY 3D REQUIREMENTS:\n- NEVER produce a flat 2D shape as the final geometry.\n- For gears, rings, wheels, pulleys \u2192 use rotate_extrude() on a 2D tooth profile.\n- For prismatic shapes \u2192 use linear_extrude(height=H) where H \u2265 5.\n- All 3D primitives (cube, cylinder, sphere) must appear in proper 3D context.\n- Minimum feature height: 5 mm.\n\nGEAR PATTERN (required for any gear or toothed part):\n  // 2D tooth profile cross-section\n  module tooth_profile(r, tooth_h) {\n    circle(r=r);\n    for (i = [0:n-1]) {\n      rotate(i * 360/n) translate([r, 0])\n        polygon([[-tw/2,-tooth_h/2],[tw/2,-tooth_h/2],[tw/2,tooth_h/2],[-tw/2,tooth_h/2]]);\n    }\n  }\n  // Extrude to full 3D gear\n  linear_extrude(height=gear_h) tooth_profile(r, tooth_h);\n\nQUALITY:\n- Use difference() for holes/cutouts, union() for joins.\n- Ensure manifold (no self-intersecting geometry).\n- Use $fn=64 or higher for smooth circles/cylinders.\n- Variables for all dimensions so the model is easy to resize.`;\n\nreturn [{ json: { description, channelId, userId, userName, systemPrompt } }];"
      },
      "id": "cad-parse-01",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'qwen2.5-coder:32b-instruct-q5_K_M', messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: 'Generate OpenSCAD code for: ' + $json.description }], stream: false, options: { temperature: 0.2, num_predict: 4096 } }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "cad-ollama-01",
      "name": "Generate OpenSCAD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// $input.first().json IS the already-parsed Ollama JSON response\nconst resp = $input.first().json;\nconst raw = resp.message?.content || resp.response || '';\n\n// Strip markdown fences if Ollama wrapped it anyway\nlet code = raw.trim();\nconst fenceMatch = code.match(/```(?:openscad|scad)?\\n([\\s\\S]*?)```/i);\nif (fenceMatch) code = fenceMatch[1].trim();\n\n// Pull context from Build Prompt node (HTTP Request replaced our json)\nconst buildData = $('Build Prompt').first().json;\n\nreturn [{ json: {\n  code,\n  description: buildData.description || '',\n  channelId: buildData.channelId || '',\n  userId: buildData.userId || '',\n  userName: buildData.userName || 'user',\n} }];"
      },
      "id": "cad-extract-01",
      "name": "Extract Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8189/render",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ code: $json.code, description: $json.description }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "cad-render-01",
      "name": "Render 3D",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const render = $input.first().json;   // OpenSCAD render API response\nconst codeData = $('Extract Code').first().json;  // has channelId, code, description\n\nconst code = codeData.code || '';\nconst description = codeData.description || '';\nconst channelId = codeData.channelId || '';\nconst success = render.success || false;\nconst jobId = render.job_id || 'unknown';\nconst stlPath = render.stl_path || null;\nconst pngB64 = render.png_b64 || null;\n\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: ':triangular_ruler: 3D Model Generated', emoji: true } },\n  { type: 'section', text: { type: 'mrkdwn', text: '*Description:* ' + description } },\n];\n\nif (stlPath) {\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: ':white_check_mark: *STL saved to:* `' + stlPath + '`\\n_Open in your slicer (PrusaSlicer, Bambu Studio) or OpenSCAD to edit_' } });\n}\n\nif (!success) {\n  const stlErr = render.stl_error || '';\n  const pngErr = render.png_error || '';\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: ':warning: Render issue: ' + (stlErr || pngErr || 'check openscad-api logs') } });\n}\n\nblocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*OpenSCAD Code:*' } });\nconst codeSnippet = code.length > 2800 ? code.slice(0, 2800) + '\\n// ... (truncated)' : code;\nblocks.push({ type: 'section', text: { type: 'mrkdwn', text: '```' + codeSnippet + '```' } });\nblocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: ':file_folder: Job ID: `' + jobId + '`' }] });\n\nreturn [{ json: { uploadComment: ':triangular_ruler: 3D model preview \u2014 ' + description,\n  channelId,\n  description,\n  stlPath,\n  code,\n  pngB64,\n  slackPayload: JSON.stringify({ channel: channelId, blocks }),\n} }];"
      },
      "id": "cad-format-01",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst pngB64 = prev.pngB64 || null;\n\n// Build binary item from base64 if we have a PNG\nconst result = { json: prev };\nif (pngB64) {\n  result.binary = {\n    data: {\n      data: pngB64,\n      mimeType: 'image/png',\n      fileName: '3d-preview.png',\n      fileSize: Math.ceil(pngB64.length * 0.75),\n    }\n  };\n}\nreturn [result];"
      },
      "id": "612f22cb-2f7d-4863-b551-9100f478a81d",
      "name": "Decode PNG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (() => {\n  const d = $('Upload to Slack').first().json;\n  const channelId = d.channelId || '';\n  const description = d.description || '';\n  const stlPath = d.stlPath || null;\n  const code = d.code || '';\n  const success = d.success !== false;\n\n  const codeSnippet = code.length > 2700\n    ? code.slice(0, 2700) + '\\n// ... (full file at ' + (stlPath || '').replace(/\\.stl$/, '.scad') + ')'\n    : code;\n\n  const blocks = [\n    { type: 'header', text: { type: 'plain_text', text: ':triangular_ruler: OpenSCAD Source', emoji: true } },\n    { type: 'section', text: { type: 'mrkdwn', text: '*' + description + '*' } },\n  ];\n\n  if (!success) {\n    blocks.push({ type: 'section', text: { type: 'mrkdwn',\n      text: ':warning: *Render issues detected* \u2014 model may need adjustment in OpenSCAD' } });\n  }\n\n  blocks.push({ type: 'section', text: { type: 'mrkdwn',\n    text: '```\\n' + codeSnippet + '\\n```' } });\n\n  blocks.push({ type: 'context', elements: [{ type: 'mrkdwn',\n    text: ':printer: Paste code into OpenSCAD to preview \u00b7 Slice the STL in your slicer to print' }] });\n\n  return JSON.stringify({ channel: channelId, blocks });\n})() }}",
        "options": {}
      },
      "id": "fc8de743-e612-42a6-820e-c7e068ed4ca8",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "e95dba42-b602-4136-8d0e-b14dc68c44c0",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction httpsReq(options, body) {\n  return new Promise((resolve, reject) => {\n    if (Buffer.isBuffer(body)) {\n      options.headers = options.headers || {};\n      options.headers['Content-Length'] = body.length;\n    }\n    const req = https.request(options, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const text = Buffer.concat(chunks).toString();\n        try { resolve(JSON.parse(text)); } catch { resolve({ _raw: text }); }\n      });\n    });\n    req.on('error', reject);\n    if (body) req.write(body);\n    req.end();\n  });\n}\n\nconst token = $env.SLACK_BOT_TOKEN;\nconst item = $input.first();\nconst b64 = item.binary && item.binary.data ? item.binary.data.data : null;\n\nif (!b64) {\n  return [{ json: { ...item.json, fileId: null, uploaded: false } }];\n}\n\nconst buf = Buffer.from(b64, 'base64');\nconst mimeType = item.binary.data.mimeType || 'application/octet-stream';\nconst fileName = item.binary.data.fileName || 'file.bin';\n\n// Step 1: Get upload URL\nconst body1 = `filename=${encodeURIComponent(fileName)}&length=${buf.length}`;\nconst urlData = await httpsReq({\n  method: 'POST', hostname: 'slack.com',\n  path: '/api/files.getUploadURLExternal',\n  headers: {\n    'Authorization': `Bearer ${token}`,\n    'Content-Type': 'application/x-www-form-urlencoded',\n    'Content-Length': Buffer.byteLength(body1),\n  }\n}, Buffer.from(body1));\n\nif (!urlData.ok) throw new Error(`getUploadURL failed: ${JSON.stringify(urlData)}`);\nconst { upload_url, file_id } = urlData;\n\n// Step 2: PUT binary to upload URL (parse URL without URL class)\nconst urlMatch = upload_url.match(/^https?:\\/\\/([^\\/]+)(\\/[^?]*)?(\\?.*)?$/);\nawait httpsReq({\n  method: 'PUT', hostname: urlMatch[1],\n  path: (urlMatch[2] || '/') + (urlMatch[3] || ''),\n  headers: { 'Content-Type': mimeType, 'Content-Length': buf.length }\n}, buf);\n\n// Step 3: Complete upload \u2014 share directly to the channel so image appears natively\nconst channelId = item.json.channelId || '';\nconst description = item.json.description || '';\nconst stlPath = item.json.stlPath || null;\n\nconst comment = `:triangular_ruler: *3D Model Preview*\\n*${description}*`\n  + (stlPath ? `\\n:white_check_mark: STL saved: \\`${stlPath}\\`\\n_Open in PrusaSlicer, Bambu Studio, or OpenSCAD to edit_` : '');\n\nconst completeBody = JSON.stringify({\n  files: [{ id: file_id }],\n  ...(channelId ? { channel_id: channelId } : {}),\n  initial_comment: comment,\n});\n\nawait httpsReq({\n  method: 'POST', hostname: 'slack.com',\n  path: '/api/files.completeUploadExternal',\n  headers: {\n    'Authorization': `Bearer ${token}`,\n    'Content-Type': 'application/json',\n    'Content-Length': Buffer.byteLength(completeBody),\n  }\n}, Buffer.from(completeBody));\n\nreturn [{ json: { ...item.json, fileId: file_id, uploaded: true } }];"
      },
      "id": "b6ffbbdf-36bd-4777-8c2b-3826180b31de",
      "name": "Upload to Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Generate OpenSCAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate OpenSCAD": {
      "main": [
        [
          {
            "node": "Extract Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Code": {
      "main": [
        [
          {
            "node": "Render 3D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render 3D": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Decode PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode PNG": {
      "main": [
        [
          {
            "node": "Upload to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Slack": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "updatedAt": "2026-03-13T20:16:51.000Z"
}