services/n8n/workflows/3d-preview-image-server.json
{
  "id": "preview-image-001",
  "name": "3D Preview Image Server",
  "active": true,
  "nodes": [
    {
      "id": "246cc8c4-0ccb-4954-8132-fe3f7f550459",
      "name": "Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "path": "preview-3d",
        "httpMethod": "GET",
        "responseMode": "responseNode"
      },
      "webhookId": "preview-3d-image-server"
    },
    {
      "id": "b01323a9-9349-4cad-b0e4-ed7769a1878f",
      "name": "Read PNG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const fs = require('fs');\n\nconst query = $input.first().json.query || {};\nconst job = (query.job || '').replace(/[^a-zA-Z0-9_-]/g, '');\n\nif (!job) {\n  return [{ json: { error: 'missing job parameter' } }];\n}\n\n// OpenSCAD API saves preview as \"preview.png\"\nconst imgPath = `/home/node/ai-output/3d/${job}/preview.png`;\n\nif (!fs.existsSync(imgPath)) {\n  return [{ json: { error: 'not found', job, path: imgPath } }];\n}\n\nconst buf = fs.readFileSync(imgPath);\nconst b64 = buf.toString('base64');\n\nreturn [{\n  json: { job, size: buf.length },\n  binary: {\n    data: {\n      data: b64,\n      mimeType: 'image/png',\n      fileName: 'preview.png',\n      fileSize: buf.length,\n    }\n  }\n}];"
      }
    },
    {
      "id": "3f09d8ae-3d39-4864-ba5f-6c0dae6e1a1e",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "parameters": {
        "respondWith": "binary",
        "binaryPropertyName": "data",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "image/png"
              },
              {
                "name": "Cache-Control",
                "value": "public, max-age=3600"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Read PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PNG": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "updatedAt": "2026-03-14T00:21:04.000Z"
}