services/n8n/workflows/comfyui-text-to-image.json
{
  "id": "comfyui-t2i-001",
  "name": "ComfyUI Text to Image",
  "active": true,
  "nodes": [
    {
      "id": "98f5137e-1136-46b1-a0dd-96f8fccbd42c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "comfyui-image",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "comfyui-image-wh"
    },
    {
      "id": "de7ac6b4-ae58-49c6-9449-fef7ae16a931",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        200,
        180
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok:true}) }}",
        "options": {}
      }
    },
    {
      "id": "1b1f32a3-afdf-44e0-817f-1dbebe50934b",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ channel: $json.body.channel_id || 'C0AKW7W9ZPX', text: ':hourglass_flowing_sand: *Generating image...*\\n> ' + ($json.body.prompt || 'no prompt') }) }}"
      }
    },
    {
      "id": "7f46b8ca-7855-4906-93e5-47778375a0fa",
      "name": "Enhance Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ model: 'llama3.1:70b', stream: false, messages: [ { role: 'system', content: 'You are an expert at writing FLUX image generation prompts. Expand the user input into a vivid, detailed prompt (max 120 words). Return ONLY the enhanced prompt, no explanation.' }, { role: 'user', content: $('Webhook').first().json.body.prompt || $('Webhook').first().json.body.text || '' } ] }) }}",
        "rawContentType": "application/json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "61038a58-b2ff-40c7-8936-197370183bba",
      "name": "Build ComfyUI Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        420
      ],
      "parameters": {
        "jsCode": "\nconst raw = $('Webhook').first().json.body || {};\nconst enhanced = $input.first().json.message?.content || raw.prompt || 'a beautiful landscape';\nconst channelId = raw.channel || raw.channel_id || 'C0AKW7W9ZPX';\nconst userId    = raw.user_id || raw.user || '';\nconst clientId  = 'n8n-img-' + Date.now();\nconst seed = Math.floor(Math.random() * 1_000_000_000);\n\n// FLUX.1-schnell FP8 ComfyUI workflow\nconst workflow = {\n  \"6\":  { \"inputs\": {\"text\": enhanced, \"clip\": [\"11\",0]}, \"class_type\": \"CLIPTextEncode\" },\n  \"8\":  { \"inputs\": {\"samples\": [\"13\",0], \"vae\": [\"10\",0]}, \"class_type\": \"VAEDecode\" },\n  \"9\":  { \"inputs\": {\"filename_prefix\": \"n8n_flux\", \"images\": [\"8\",0]}, \"class_type\": \"SaveImage\" },\n  \"10\": { \"inputs\": {\"vae_name\": \"ae.safetensors\"}, \"class_type\": \"VAELoader\" },\n  \"11\": { \"inputs\": {\"clip_name1\": \"clip_l.safetensors\", \"clip_name2\": \"t5xxl_fp8_e4m3fn.safetensors\", \"type\": \"flux\"}, \"class_type\": \"DualCLIPLoader\" },\n  \"13\": { \"inputs\": {\"noise\":[\"25\",0],\"guider\":[\"22\",0],\"sampler\":[\"16\",0],\"sigmas\":[\"17\",0],\"latent_image\":[\"27\",0]}, \"class_type\": \"SamplerCustomAdvanced\" },\n  \"16\": { \"inputs\": {\"sampler_name\": \"euler\"}, \"class_type\": \"KSamplerSelect\" },\n  \"17\": { \"inputs\": {\"scheduler\": \"simple\", \"steps\": 4, \"denoise\": 1.0, \"model\": [\"30\",0]}, \"class_type\": \"BasicScheduler\" },\n  \"22\": { \"inputs\": {\"model\": [\"30\",0], \"conditioning\": [\"6\",0]}, \"class_type\": \"BasicGuider\" },\n  \"25\": { \"inputs\": {\"noise_seed\": seed}, \"class_type\": \"RandomNoise\" },\n  \"27\": { \"inputs\": {\"width\": 1024, \"height\": 1024, \"batch_size\": 1}, \"class_type\": \"EmptySD3LatentImage\" },\n  \"30\": { \"inputs\": {\"unet_name\": \"flux1-schnell-fp8.safetensors\", \"weight_dtype\": \"fp8_e4m3fn\"}, \"class_type\": \"UNETLoader\" }\n};\n\nreturn [{ json: { workflow, clientId, channelId, userId, prompt: enhanced } }];\n"
      }
    },
    {
      "id": "d5b0f8c0-b90e-4c05-9eaa-119fe052c0e1",
      "name": "Submit to ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        920,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ prompt: $json.workflow, client_id: $json.clientId }) }}",
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "978edfbd-a94e-4e4e-8dc2-8eb1ccbe89b3",
      "name": "Poll Until Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        420
      ],
      "parameters": {
        "jsCode": "\nconst promptId  = $input.first().json.prompt_id;\nconst buildData = $('Build ComfyUI Payload').first().json;\nconst maxTries  = 72;          // 6 min @ 5s each\n\nfor (let i = 0; i < maxTries; i++) {\n  await new Promise(r => setTimeout(r, 5000));\n  const history = await $helpers.httpRequest({\n    method: 'GET',\n    url: `http://host.docker.internal:8188/history/${promptId}`\n  });\n  const entry = history[promptId];\n  if (entry?.status?.completed) {\n    const imageNode = Object.values(entry.outputs || {}).find(o => o.images?.length);\n    if (imageNode) {\n      const img = imageNode.images[0];\n      return [{ json: {\n        promptId,\n        filename:  img.filename,\n        subfolder: img.subfolder || '',\n        type:      img.type || 'output',\n        channelId: buildData.channelId,\n        userId:    buildData.userId,\n        prompt:    buildData.prompt\n      }}];\n    }\n  }\n}\nthrow new Error('ComfyUI generation timed out after 6 minutes');\n"
      }
    },
    {
      "id": "e8ba2924-8d55-4398-ad9b-3397ef759657",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        420
      ],
      "parameters": {
        "method": "GET",
        "url": "=http://host.docker.internal:8188/view?filename={{ encodeURIComponent($json.filename) }}&subfolder={{ $json.subfolder }}&type={{ $json.type }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/files.getUploadURLExternal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "filename",
              "value": "={{ $('Poll Until Done').first().json.filename || 'image.png' }}"
            },
            {
              "name": "length",
              "value": "={{ $binary.data.fileSize || 1000000 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ed50bba4-eaf4-4109-95ef-b5941c4ff451",
      "name": "COM_Get Upload URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ JSON.parse($input.first().json.data).upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 60000
        }
      },
      "id": "66a739e0-6caf-4bf8-a8a3-b70e95b6b7fc",
      "name": "COM_Upload Binary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/files.completeUploadExternal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({  files: [{ id: JSON.parse($('COM_Get Upload URL').first().json.data).file_id }],  channel_id: $('Poll Until Done').first().json.channelId,  initial_comment: ':frame_with_picture: *' + ($('Poll Until Done').first().json.prompt || 'Generated image').slice(0,120) + '*\\n_Generated with FLUX on RTX 5070 Ti_'}) }}",
        "options": {}
      },
      "id": "ab0cfbc7-62f6-4444-8c21-992922d54b7e",
      "name": "COM_Complete Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ack Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Slack": {
      "main": [
        [
          {
            "node": "Enhance Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Prompt": {
      "main": [
        [
          {
            "node": "Build ComfyUI Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ComfyUI Payload": {
      "main": [
        [
          {
            "node": "Submit to ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to ComfyUI": {
      "main": [
        [
          {
            "node": "Poll Until Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Until Done": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "COM_Get Upload URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COM_Get Upload URL": {
      "main": [
        [
          {
            "node": "COM_Upload Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COM_Upload Binary": {
      "main": [
        [
          {
            "node": "COM_Complete Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "createdAt": 1773266728383,
  "updatedAt": "2026-03-13T19:21:54.000Z",
  "versionId": "879e6c4a-f4f0-403f-b3c1-64adac044027"
}