services/n8n/workflows/comfyui-text-to-image.json
{
  "id": "comfyui-t2i-001",
  "name": "ComfyUI Text to Image",
  "active": true,
  "nodes": [
    {
      "id": "98f5137e-1136-46b1-a0dd-96f8fccbd42c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "comfyui-image",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "comfyui-image-wh"
    },
    {
      "id": "de7ac6b4-ae58-49c6-9449-fef7ae16a931",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        200,
        180
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok:true}) }}",
        "options": {}
      }
    },
    {
      "id": "1b1f32a3-afdf-44e0-817f-1dbebe50934b",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ channel: $json.body.channel_id || 'C0AKW7W9ZPX', text: ':hourglass_flowing_sand: *Generating image...*\\n> ' + ($json.body.prompt || 'no prompt') }) }}"
      }
    },
    {
      "id": "7f46b8ca-7855-4906-93e5-47778375a0fa",
      "name": "Enhance Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ model: 'llama3.1:70b', stream: false, messages: [ { role: 'system', content: 'You are an expert at writing FLUX image generation prompts. Expand the user input into a vivid, detailed prompt (max 120 words). Return ONLY the enhanced prompt, no explanation.' }, { role: 'user', content: $('Webhook').first().json.body.prompt || $('Webhook').first().json.body.text || '' } ] }) }}",
        "rawContentType": "application/json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "61038a58-b2ff-40c7-8936-197370183bba",
      "name": "Build ComfyUI Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        420
      ],
      "parameters": {
        "jsCode": "const raw = $('Webhook').first().json.body || {};\nconst originalPrompt = (raw.prompt || raw.text || '').trim();\nconst enhanced = $input.first().json.message?.content || originalPrompt || 'a beautiful landscape';\nconst channelId = raw.channel || raw.channel_id || 'C0AKW7W9ZPX';\nconst userId    = raw.user_id || raw.user || '';\nconst clientId  = 'n8n-img-' + Date.now();\nconst seed = Math.floor(Math.random() * 1_000_000_000);\n\n// SDXL Base 1.0 workflow (1024x1024, dpmpp_2m karras, 25 steps)\nconst workflow = {\n  \"1\": { \"inputs\": {\"ckpt_name\": \"sd_xl_base_1.0.safetensors\"}, \"class_type\": \"CheckpointLoaderSimple\" },\n  \"2\": { \"inputs\": {\"text\": enhanced, \"clip\": [\"1\",1]}, \"class_type\": \"CLIPTextEncode\" },\n  \"3\": { \"inputs\": {\"text\": \"blurry, low quality, distorted, watermark, ugly, deformed, amateur, duplicate, sketch\", \"clip\": [\"1\",1]}, \"class_type\": \"CLIPTextEncode\" },\n  \"4\": { \"inputs\": {\"width\": 1024, \"height\": 1024, \"batch_size\": 1}, \"class_type\": \"EmptyLatentImage\" },\n  \"5\": {\n    \"inputs\": {\n      \"seed\": seed, \"steps\": 25, \"cfg\": 7.0,\n      \"sampler_name\": \"dpmpp_2m\", \"scheduler\": \"karras\", \"denoise\": 1.0,\n      \"model\": [\"1\",0], \"positive\": [\"2\",0], \"negative\": [\"3\",0], \"latent_image\": [\"4\",0]\n    },\n    \"class_type\": \"KSampler\"\n  },\n  \"6\": { \"inputs\": {\"samples\": [\"5\",0], \"vae\": [\"1\",2]}, \"class_type\": \"VAEDecode\" },\n  \"7\": { \"inputs\": {\"filename_prefix\": \"n8n_sdxl\", \"images\": [\"6\",0]}, \"class_type\": \"SaveImage\" }\n};\n\n// Store original prompt for Slack display; enhanced is used for generation only\nreturn [{ json: { workflow, clientId, channelId, userId, prompt: originalPrompt } }];\n"
      }
    },
    {
      "id": "d5b0f8c0-b90e-4c05-9eaa-119fe052c0e1",
      "name": "Submit to ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        920,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ prompt: $json.workflow, client_id: $json.clientId }) }}",
        "options": {
          "timeout": 600000
        },
        "rawContentType": "application/json"
      }
    },
    {
      "id": "978edfbd-a94e-4e4e-8dc2-8eb1ccbe89b3",
      "name": "Poll Until Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        420
      ],
      "parameters": {
        "jsCode": "const http = require('http');\n\nfunction httpGetComfyUI(path) {\n  return new Promise((resolve, reject) => {\n    const req = http.get({ host: 'host.docker.internal', port: 8188, path }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        try { resolve(JSON.parse(Buffer.concat(chunks).toString())); }\n        catch { resolve({}); }\n      });\n    });\n    req.on('error', reject);\n  });\n}\n\nconst promptId  = $input.first().json.prompt_id;\nconst maxTries  = 72;          // 6 min @ 5s each\n\nfor (let i = 0; i < maxTries; i++) {\n  await new Promise(r => setTimeout(r, 5000));\n  const history = await httpGetComfyUI(`/history/${promptId}`);\n  const entry = history[promptId];\n  if (entry?.status?.completed) {\n    const imageNode = Object.values(entry.outputs || {}).find(o => o.images?.length);\n    if (imageNode) {\n      const img = imageNode.images[0];\n      const buildData = $('Build ComfyUI Payload').first().json;\n      return [{ json: {\n        promptId,\n        filename:  img.filename,\n        subfolder: img.subfolder || '',\n        type:      img.type || 'output',\n        channelId: buildData.channelId,\n        userId:    buildData.userId,\n        prompt:    buildData.prompt,\n        mediaType: 'image'\n      }}];\n    }\n  }\n}\nthrow new Error('ComfyUI generation timed out after 6 minutes');\n"
      }
    },
    {
      "id": "e8ba2924-8d55-4398-ad9b-3397ef759657",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        420
      ],
      "parameters": {
        "method": "GET",
        "url": "=http://host.docker.internal:8188/view?filename={{ encodeURIComponent($json.filename) }}&subfolder={{ $json.subfolder }}&type={{ $json.type }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction postMessage(body) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify(body);\n    const req = https.request({\n      method: 'POST', hostname: 'slack.com', path: '/api/chat.postMessage',\n      headers: {\n        'Authorization': `Bearer ${$env.SLACK_BOT_TOKEN}`,\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(data)\n      }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        try { resolve(JSON.parse(Buffer.concat(chunks).toString())); }\n        catch { resolve({}); }\n      });\n    });\n    req.on('error', reject);\n    req.write(data);\n    req.end();\n  });\n}\n\nconst ctx = $input.first().json;\nconst channelId = ctx.channelId || 'C0AKW7W9ZPX';\nconst prompt = ctx.prompt || '';\nconst filename = encodeURIComponent(ctx.filename || '');\nconst subfolder = encodeURIComponent(ctx.subfolder || '');\nconst type = ctx.type || 'output';\nconst mediaType = ctx.mediaType || 'image';\n\n// Build public URL via n8n preview webhook \u2192 ComfyUI proxy\nconst ngrokBase = ($env.WEBHOOK_URL || '').replace(/\\/$/, '');\nconst imageUrl = `${ngrokBase}/webhook/preview-comfyui?filename=${filename}&subfolder=${subfolder}&type=${type}`;\n\nconst isVideo = mediaType === 'gif';\nconst titleText = isVideo ? ':film_frames: Video Generated' : ':art: Image Generated';\nconst modelNote = isVideo ? 'SDXL 4-frame GIF on RTX 5070 Ti' : 'SDXL on RTX 5070 Ti';\n\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: titleText } },\n  { type: 'section', text: { type: 'mrkdwn', text: `*Prompt:* ${prompt.slice(0, 200)}` } },\n  { type: 'image', image_url: imageUrl, alt_text: 'Generated output' },\n  { type: 'context', elements: [{ type: 'mrkdwn', text: `_${modelNote} \u00b7 ${new Date().toLocaleTimeString()}_` }] }\n];\n\nconst result = await postMessage({\n  channel: channelId,\n  text: `${titleText}: ${prompt.slice(0, 80)}`,\n  blocks\n});\n\nif (!result.ok) {\n  throw new Error(`Slack post failed: ${result.error || JSON.stringify(result)}`);\n}\n\nreturn [{ json: { ok: true, ts: result.ts, channel: result.channel, channelId } }];\n"
      },
      "id": "6534e034-f07b-460a-8cb9-46775ffbb94f",
      "name": "Upload to Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Restore context from Poll Until Done node (HTTP Request dropped it)\nconst poll = $('Poll Until Done').first().json;\nconst item = $input.first();\nreturn [{\n  json: {\n    channelId: poll.channelId || '',\n    filename: poll.filename || 'file',\n    prompt: poll.prompt || '',\n    uploadComment: poll.uploadComment || '{}'\n  },\n  binary: item.binary\n}];"
      },
      "id": "586a4fff-666a-4025-b6ff-6567d52d0830",
      "name": "Restore Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ack Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Slack": {
      "main": [
        [
          {
            "node": "Enhance Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Prompt": {
      "main": [
        [
          {
            "node": "Build ComfyUI Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ComfyUI Payload": {
      "main": [
        [
          {
            "node": "Submit to ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to ComfyUI": {
      "main": [
        [
          {
            "node": "Poll Until Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Until Done": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Restore Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Slack": {
      "main": [
        []
      ]
    },
    "Restore Context": {
      "main": [
        [
          {
            "node": "Upload to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "updatedAt": "2026-03-13T20:01:35.000Z"
}