services/n8n/workflows/comfyui-text-to-video.json
{
  "name": "ComfyUI Text to Video",
  "nodes": [
    {
      "id": "52ccd298-7dc7-4788-9cc8-95a0af017a86",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "comfyui-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "comfyui-video-wh"
    },
    {
      "id": "c289e236-e4e1-4295-9fea-0a19748046e1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        200,
        180
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok:true}) }}",
        "options": {}
      }
    },
    {
      "id": "2bacadb8-47dc-4aa7-a2a2-2fcd58ac2ea5",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ channel: $json.body.channel_id || 'C0AKJ788GJK', text: ':film_frames: *Generating video...*\\n> ' + ($json.body.prompt || body.text || '') + '\\n_This takes 1-3 minutes_' }) }}"
      }
    },
    {
      "id": "58be9c34-6382-445d-bd65-7dc66028eefa",
      "name": "Enhance Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ model: 'llama3.1:70b', stream: false, messages: [ { role: 'system', content: 'You are an expert at writing AnimateDiff video generation prompts. Create a detailed, motion-rich prompt that describes movement, camera angles, and visual dynamics. Return ONLY the enhanced prompt (max 100 words).' }, { role: 'user', content: $('Webhook').first().json.body.prompt || body.text || '' } ] }) }}",
        "rawContentType": "application/json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "c9ebc971-b308-4add-bc4a-723a8cc70897",
      "name": "Build ComfyUI Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        420
      ],
      "parameters": {
        "jsCode": "\nconst raw = $('Webhook').first().json.body || {};\nconst enhanced = $input.first().json.message?.content || raw.prompt || 'a cinematic scene';\nconst channelId = raw.channel || raw.channel_id || 'C0AKJ788GJK';\nconst userId    = raw.user_id || raw.user    || '';\nconst clientId  = 'n8n-vid-' + Date.now();\nconst seed = Math.floor(Math.random() * 1_000_000_000);\n\n// AnimateDiff-Evolved + SDXL ComfyUI workflow\nconst workflow = {\n  \"1\": { \"inputs\": {\"ckpt_name\": \"sd_xl_base_1.0.safetensors\"}, \"class_type\": \"CheckpointLoaderSimple\" },\n  \"2\": { \"inputs\": {\"text\": enhanced, \"clip\": [\"1\",1]}, \"class_type\": \"CLIPTextEncode\" },\n  \"3\": { \"inputs\": {\"text\": \"blurry, low quality, distorted, watermark, static, frozen\", \"clip\": [\"1\",1]}, \"class_type\": \"CLIPTextEncode\" },\n  \"4\": {\n    \"inputs\": {\n      \"model\": [\"1\",0],\n      \"model_name\": \"v3_sd15_mm.ckpt\",\n      \"beta_schedule\": \"sqrt_linear (AnimateDiff)\",\n      \"motion_scale\": 1.0,\n      \"apply_v2_models_properly\": True\n    },\n    \"class_type\": \"ADE_AnimateDiffLoaderWithContext\"\n  },\n  \"5\": {\n    \"inputs\": {\n      \"seed\": seed, \"steps\": 20, \"cfg\": 7.5,\n      \"sampler_name\": \"euler_ancestral\", \"scheduler\": \"karras\", \"denoise\": 1.0,\n      \"model\": [\"4\",0], \"positive\": [\"2\",0], \"negative\": [\"3\",0], \"latent_image\": [\"6\",0]\n    },\n    \"class_type\": \"KSampler\"\n  },\n  \"6\": { \"inputs\": {\"width\": 768, \"height\": 512, \"batch_size\": 16}, \"class_type\": \"EmptyLatentImage\" },\n  \"7\": { \"inputs\": {\"samples\": [\"5\",0], \"vae\": [\"1\",2]}, \"class_type\": \"VAEDecode\" },\n  \"8\": {\n    \"inputs\": {\n      \"frame_rate\": 8, \"loop_count\": 0,\n      \"filename_prefix\": \"n8n_video\",\n      \"format\": \"image/gif\",\n      \"pingpong\": False, \"save_output\": True,\n      \"images\": [\"7\",0]\n    },\n    \"class_type\": \"VHS_VideoCombine\"\n  }\n};\n\nreturn [{ json: { workflow, clientId, channelId, userId, prompt: enhanced } }];\n"
      }
    },
    {
      "id": "bcc88ca1-5e22-43a1-985f-6a5a229223ed",
      "name": "Submit to ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        920,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ prompt: $json.workflow, client_id: $json.clientId }) }}",
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "15ff9e06-0727-44fd-8743-e1422fdfdd0d",
      "name": "Poll Until Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        420
      ],
      "parameters": {
        "jsCode": "\nconst promptId  = $input.first().json.prompt_id;\nconst buildData = $('Build ComfyUI Payload').first().json;\nconst maxTries  = 90;   // 7.5 min \u2014 video takes longer\n\nfor (let i = 0; i < maxTries; i++) {\n  await new Promise(r => setTimeout(r, 5000));\n  const history = await $helpers.httpRequest({\n    method: 'GET',\n    url: `http://host.docker.internal:8188/history/${promptId}`\n  });\n  const entry = history[promptId];\n  if (entry?.status?.completed) {\n    // VHS_VideoCombine outputs gifs/videos\n    const outputs = entry.outputs || {};\n    for (const nodeOut of Object.values(outputs)) {\n      if (nodeOut.gifs?.length) {\n        const vid = nodeOut.gifs[0];\n        return [{ json: {\n          promptId,\n          filename:  vid.filename,\n          subfolder: vid.subfolder || '',\n          type:      vid.type || 'output',\n          channelId: buildData.channelId,\n          userId:    buildData.userId,\n          prompt:    buildData.prompt\n        }}];\n      }\n    }\n  }\n}\nthrow new Error('ComfyUI video generation timed out');\n"
      }
    },
    {
      "id": "46535098-b2fc-4551-81a5-eb1c4d2d7272",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        420
      ],
      "parameters": {
        "method": "GET",
        "url": "=http://host.docker.internal:8188/view?filename={{ encodeURIComponent($json.filename) }}&subfolder={{ $json.subfolder }}&type={{ $json.type }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "b11b347d-6ab4-4844-83c3-09e0f7273539",
      "name": "Upload to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1640,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/files.upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "channels",
              "value": "={{ $('Poll Until Done').first().json.channelId }}"
            },
            {
              "name": "filename",
              "value": "={{ $('Poll Until Done').first().json.filename }}"
            },
            {
              "name": "title",
              "value": ":film_frames: Generated Video"
            },
            {
              "name": "initial_comment",
              "value": "=:clapper: *{{ $('Poll Until Done').first().json.prompt.slice(0,120) }}*\n_Generated with AnimateDiff + SDXL_"
            },
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ack Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Slack": {
      "main": [
        [
          {
            "node": "Enhance Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Prompt": {
      "main": [
        [
          {
            "node": "Build ComfyUI Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ComfyUI Payload": {
      "main": [
        [
          {
            "node": "Submit to ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to ComfyUI": {
      "main": [
        [
          {
            "node": "Poll Until Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Until Done": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "active": true,
  "id": "comfyui-t2v-001"
}
