services/n8n/workflows/comfyui-image-enhance.json
{
  "id": "comfyui-enh-001",
  "name": "ComfyUI Image Enhance",
  "active": true,
  "nodes": [
    {
      "id": "5fbd167b-74e7-40b8-a38f-f025772995a2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "comfyui-enhance",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "comfyui-enhance-wh"
    },
    {
      "id": "a23a8c38-deb1-4ba5-b405-63ffe781a4ff",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        200,
        180
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok:true}) }}",
        "options": {}
      }
    },
    {
      "id": "d03aa85a-c5d9-4631-8a0f-d803ebd097a7",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ channel: $json.body.channel_id || 'C0AKW7W9ZPX', text: ':sparkles: *Enhancing image 4x...*\\nThis takes about 30 seconds.' }) }}"
      }
    },
    {
      "id": "1a021eee-d633-4671-af03-d9a30ba7fe70",
      "name": "Download Source Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        420
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Webhook').first().json.body.image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "d0b66a10-602f-441a-a6b7-3296b3b81891",
      "name": "Upload to ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/upload/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "type",
              "value": "input"
            },
            {
              "name": "overwrite",
              "value": "true"
            }
          ]
        }
      }
    },
    {
      "id": "56fbccb6-fe6e-447d-9319-4dcf58cd3dd9",
      "name": "Build Enhance Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        420
      ],
      "parameters": {
        "jsCode": "\nconst raw      = $('Webhook').first().json.body || {};\nconst filename = $input.first().json.name;\nconst channelId = raw.channel_id || 'C0AKW7W9ZPX';\nconst userId    = raw.user_id    || '';\nconst clientId  = 'n8n-enh-' + Date.now();\n\n// Real-ESRGAN 4x upscale workflow\nconst workflow = {\n  \"1\": { \"inputs\": {\"image\": filename, \"upload\": \"image\"}, \"class_type\": \"LoadImage\" },\n  \"2\": { \"inputs\": {\"model_name\": \"RealESRGAN_x4plus.pth\"}, \"class_type\": \"UpscaleModelLoader\" },\n  \"3\": { \"inputs\": {\"upscale_model\": [\"2\",0], \"image\": [\"1\",0]}, \"class_type\": \"ImageUpscaleWithModel\" },\n  \"4\": { \"inputs\": {\"filename_prefix\": \"n8n_enhanced\", \"images\": [\"3\",0]}, \"class_type\": \"SaveImage\" }\n};\n\nreturn [{ json: { workflow, clientId, channelId, userId } }];\n"
      }
    },
    {
      "id": "981b1658-9bd9-4471-aaf4-b70fc415ee2e",
      "name": "Submit to ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1160,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ prompt: $json.workflow, client_id: $json.clientId }) }}"
      }
    },
    {
      "id": "0082fad1-4f16-4816-b6e9-095afbbffa2b",
      "name": "Poll Until Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        420
      ],
      "parameters": {
        "jsCode": "\nconst promptId  = $input.first().json.prompt_id;\nconst buildData = $('Build Enhance Payload').first().json;\nconst maxTries  = 36;   // 3 min \u2014 upscaling is fast\n\nfor (let i = 0; i < maxTries; i++) {\n  await new Promise(r => setTimeout(r, 5000));\n  const history = await $helpers.httpRequest({\n    method: 'GET',\n    url: `http://host.docker.internal:8188/history/${promptId}`\n  });\n  const entry = history[promptId];\n  if (entry?.status?.completed) {\n    const imageNode = Object.values(entry.outputs || {}).find(o => o.images?.length);\n    if (imageNode) {\n      const img = imageNode.images[0];\n      return [{ json: { uploadComment: ':sparkles: Enhanced image\\n_Upscaled + enhanced on RTX 5070 Ti_',\n        promptId,\n        filename:  img.filename,\n        subfolder: img.subfolder || '',\n        type:      img.type || 'output',\n        channelId: buildData.channelId,\n        userId:    buildData.userId\n      }}];\n    }\n  }\n}\nthrow new Error('ComfyUI enhance timed out');\n"
      }
    },
    {
      "id": "cda07d00-db1b-4e08-a2d1-1cd738181db3",
      "name": "Download Enhanced Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1640,
        420
      ],
      "parameters": {
        "method": "GET",
        "url": "=http://host.docker.internal:8188/view?filename={{ encodeURIComponent($json.filename) }}&subfolder={{ $json.subfolder }}&type={{ $json.type }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction httpsReq(options, body) {\n  return new Promise((resolve, reject) => {\n    if (Buffer.isBuffer(body)) {\n      options.headers = options.headers || {};\n      options.headers['Content-Length'] = body.length;\n    }\n    const req = https.request(options, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const text = Buffer.concat(chunks).toString();\n        try { resolve(JSON.parse(text)); } catch { resolve({ _raw: text }); }\n      });\n    });\n    req.on('error', reject);\n    if (body) req.write(body);\n    req.end();\n  });\n}\n\nconst token = $env.SLACK_BOT_TOKEN;\nconst item = $input.first();\nconst b64 = item.binary && item.binary.data ? item.binary.data.data : null;\n\nif (!b64) {\n  return [{ json: { ...item.json, fileId: null, uploaded: false } }];\n}\n\nconst buf = Buffer.from(b64, 'base64');\nconst mimeType = (item.binary.data.mimeType) || 'application/octet-stream';\nconst fileName = (item.binary.data.fileName) || 'file.bin';\n\n// Step 1: Get upload URL\nconst body1 = `filename=${encodeURIComponent(fileName)}&length=${buf.length}`;\nconst urlData = await httpsReq({\n  method: 'POST',\n  hostname: 'slack.com',\n  path: '/api/files.getUploadURLExternal',\n  headers: {\n    'Authorization': `Bearer ${token}`,\n    'Content-Type': 'application/x-www-form-urlencoded',\n    'Content-Length': Buffer.byteLength(body1),\n  }\n}, Buffer.from(body1));\n\nif (!urlData.ok) throw new Error(`getUploadURL failed: ${JSON.stringify(urlData)}`);\nconst { upload_url, file_id } = urlData;\n\n// Step 2: PUT binary to upload URL\n// Parse upload_url without URL class (not available in sandbox)\nconst urlMatch = upload_url.match(/^https?:\\/\\/([^\\/]+)(\\/[^?]*)?(\\?.*)?$/);\nconst uploadHostname = urlMatch[1];\nconst uploadPath = (urlMatch[2] || '/') + (urlMatch[3] || '');\n\nawait httpsReq({\n  method: 'PUT',\n  hostname: uploadHostname,\n  path: uploadPath,\n  headers: {\n    'Content-Type': mimeType,\n    'Content-Length': buf.length,\n  }\n}, buf);\n\n// Step 3: Complete upload\nconst channelId = item.json.channelId || '';\nconst comment = item.json.uploadComment || '';\nconst completeBody = JSON.stringify({\n  files: [{ id: file_id }],\n  ...(channelId ? { channel_id: channelId } : {}),\n  ...(comment ? { initial_comment: comment } : {}),\n});\n\nawait httpsReq({\n  method: 'POST',\n  hostname: 'slack.com',\n  path: '/api/files.completeUploadExternal',\n  headers: {\n    'Authorization': `Bearer ${token}`,\n    'Content-Type': 'application/json',\n    'Content-Length': Buffer.byteLength(completeBody),\n  }\n}, Buffer.from(completeBody));\n\nreturn [{ json: { ...item.json, fileId: file_id, uploaded: true } }];\n"
      },
      "id": "1c9ce141-4f3e-47a6-b241-437f5048d34d",
      "name": "Upload to Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Restore context from Poll Until Done node (HTTP Request dropped it)\nconst poll = $('Poll Until Done').first().json;\nconst item = $input.first();\nreturn [{\n  json: {\n    channelId: poll.channelId || '',\n    filename: poll.filename || 'file',\n    prompt: poll.prompt || '',\n    uploadComment: poll.uploadComment || '{}'\n  },\n  binary: item.binary\n}];"
      },
      "id": "4a035beb-3727-4561-a92d-fe8021436d28",
      "name": "Restore Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ack Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Slack": {
      "main": [
        [
          {
            "node": "Download Source Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Source Image": {
      "main": [
        [
          {
            "node": "Upload to ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to ComfyUI": {
      "main": [
        [
          {
            "node": "Build Enhance Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Enhance Payload": {
      "main": [
        [
          {
            "node": "Submit to ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to ComfyUI": {
      "main": [
        [
          {
            "node": "Poll Until Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Until Done": {
      "main": [
        [
          {
            "node": "Download Enhanced Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Enhanced Image": {
      "main": [
        [
          {
            "node": "Restore Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Slack": {
      "main": [
        [
          {
            "node": "COM_Complete Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Context": {
      "main": [
        [
          {
            "node": "Upload to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "updatedAt": "2026-03-13T20:01:35.000Z"
}