services/n8n/workflows/comfyui-image-enhance.json
{
  "id": "comfyui-enh-001",
  "name": "ComfyUI Image Enhance",
  "active": true,
  "nodes": [
    {
      "id": "5fbd167b-74e7-40b8-a38f-f025772995a2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "comfyui-enhance",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "comfyui-enhance-wh"
    },
    {
      "id": "a23a8c38-deb1-4ba5-b405-63ffe781a4ff",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        200,
        180
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok:true}) }}",
        "options": {}
      }
    },
    {
      "id": "d03aa85a-c5d9-4631-8a0f-d803ebd097a7",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ channel: $json.body.channel_id || 'C0AKW7W9ZPX', text: ':sparkles: *Enhancing image 4x...*\\nThis takes about 30 seconds.' }) }}"
      }
    },
    {
      "id": "1a021eee-d633-4671-af03-d9a30ba7fe70",
      "name": "Download Source Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        420
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Webhook').first().json.body.image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "d0b66a10-602f-441a-a6b7-3296b3b81891",
      "name": "Upload to ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/upload/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "type",
              "value": "input"
            },
            {
              "name": "overwrite",
              "value": "true"
            }
          ]
        }
      }
    },
    {
      "id": "56fbccb6-fe6e-447d-9319-4dcf58cd3dd9",
      "name": "Build Enhance Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        420
      ],
      "parameters": {
        "jsCode": "\nconst raw      = $('Webhook').first().json.body || {};\nconst filename = $input.first().json.name;\nconst channelId = raw.channel_id || 'C0AKW7W9ZPX';\nconst userId    = raw.user_id    || '';\nconst clientId  = 'n8n-enh-' + Date.now();\n\n// Real-ESRGAN 4x upscale workflow\nconst workflow = {\n  \"1\": { \"inputs\": {\"image\": filename, \"upload\": \"image\"}, \"class_type\": \"LoadImage\" },\n  \"2\": { \"inputs\": {\"model_name\": \"RealESRGAN_x4plus.pth\"}, \"class_type\": \"UpscaleModelLoader\" },\n  \"3\": { \"inputs\": {\"upscale_model\": [\"2\",0], \"image\": [\"1\",0]}, \"class_type\": \"ImageUpscaleWithModel\" },\n  \"4\": { \"inputs\": {\"filename_prefix\": \"n8n_enhanced\", \"images\": [\"3\",0]}, \"class_type\": \"SaveImage\" }\n};\n\nreturn [{ json: { workflow, clientId, channelId, userId } }];\n"
      }
    },
    {
      "id": "981b1658-9bd9-4471-aaf4-b70fc415ee2e",
      "name": "Submit to ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1160,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ prompt: $json.workflow, client_id: $json.clientId }) }}"
      }
    },
    {
      "id": "0082fad1-4f16-4816-b6e9-095afbbffa2b",
      "name": "Poll Until Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        420
      ],
      "parameters": {
        "jsCode": "\nconst promptId  = $input.first().json.prompt_id;\nconst buildData = $('Build Enhance Payload').first().json;\nconst maxTries  = 36;   // 3 min \u2014 upscaling is fast\n\nfor (let i = 0; i < maxTries; i++) {\n  await new Promise(r => setTimeout(r, 5000));\n  const history = await $helpers.httpRequest({\n    method: 'GET',\n    url: `http://host.docker.internal:8188/history/${promptId}`\n  });\n  const entry = history[promptId];\n  if (entry?.status?.completed) {\n    const imageNode = Object.values(entry.outputs || {}).find(o => o.images?.length);\n    if (imageNode) {\n      const img = imageNode.images[0];\n      return [{ json: {\n        promptId,\n        filename:  img.filename,\n        subfolder: img.subfolder || '',\n        type:      img.type || 'output',\n        channelId: buildData.channelId,\n        userId:    buildData.userId\n      }}];\n    }\n  }\n}\nthrow new Error('ComfyUI enhance timed out');\n"
      }
    },
    {
      "id": "cda07d00-db1b-4e08-a2d1-1cd738181db3",
      "name": "Download Enhanced Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1640,
        420
      ],
      "parameters": {
        "method": "GET",
        "url": "=http://host.docker.internal:8188/view?filename={{ encodeURIComponent($json.filename) }}&subfolder={{ $json.subfolder }}&type={{ $json.type }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/files.getUploadURLExternal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "filename",
              "value": "={{ $('Poll Until Done').first().json.filename || 'enhanced.png' }}"
            },
            {
              "name": "length",
              "value": "={{ $binary.data.fileSize || 1000000 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bee6639f-12c7-4fad-b397-8f1b73903ef1",
      "name": "COM_Get Upload URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ JSON.parse($input.first().json.data).upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 60000
        }
      },
      "id": "bb1962f8-d726-4fe8-89e6-1e9f053cc531",
      "name": "COM_Upload Binary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/files.completeUploadExternal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({  files: [{ id: JSON.parse($('COM_Get Upload URL').first().json.data).file_id }],  channel_id: $('Poll Until Done').first().json.channelId,  initial_comment: ':sparkles: *Enhanced image*\\n_Upscaled + enhanced on RTX 5070 Ti_'}) }}",
        "options": {}
      },
      "id": "6995a0bf-de13-4884-b8b1-8e3368b34d29",
      "name": "COM_Complete Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ack Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Slack": {
      "main": [
        [
          {
            "node": "Download Source Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Source Image": {
      "main": [
        [
          {
            "node": "Upload to ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to ComfyUI": {
      "main": [
        [
          {
            "node": "Build Enhance Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Enhance Payload": {
      "main": [
        [
          {
            "node": "Submit to ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to ComfyUI": {
      "main": [
        [
          {
            "node": "Poll Until Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Until Done": {
      "main": [
        [
          {
            "node": "Download Enhanced Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Enhanced Image": {
      "main": [
        [
          {
            "node": "COM_Get Upload URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COM_Get Upload URL": {
      "main": [
        [
          {
            "node": "COM_Upload Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COM_Upload Binary": {
      "main": [
        [
          {
            "node": "COM_Complete Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "createdAt": 1773266728398,
  "updatedAt": "2026-03-13T19:21:54.000Z",
  "versionId": "528ab4d1-0272-4625-ad35-bb94fa464606"
}