services/n8n/workflows/comfyui-text-to-video.json
{
  "id": "comfyui-t2v-001",
  "name": "ComfyUI Text to Video",
  "active": true,
  "nodes": [
    {
      "id": "52ccd298-7dc7-4788-9cc8-95a0af017a86",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "comfyui-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "comfyui-video-wh"
    },
    {
      "id": "c289e236-e4e1-4295-9fea-0a19748046e1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        200,
        180
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok:true}) }}",
        "options": {}
      }
    },
    {
      "id": "2bacadb8-47dc-4aa7-a2a2-2fcd58ac2ea5",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ channel: $json.body.channel_id || 'C0AKJ788GJK', text: ':film_frames: *Generating video...*\\n> ' + ($json.body.prompt || body.text || '') + '\\n_This takes 2-5 minutes (AnimateDiff 16-frame MP4)_' }) }}"
      }
    },
    {
      "id": "58be9c34-6382-445d-bd65-7dc66028eefa",
      "name": "Enhance Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ model: 'qwen3:14b-q4_K_M', stream: false, messages: [ { role: 'system', content: 'You are an expert at writing AnimateDiff video generation prompts for SD1.5. Create a detailed, motion-rich prompt that describes movement, camera angles, and visual dynamics. Focus on smooth, continuous motion keywords like \"slow pan\", \"gentle movement\", \"flowing\", \"dynamic camera\". Return ONLY the enhanced prompt (max 100 words). Do not use /think tags or reasoning.' }, { role: 'user', content: $('Webhook').first().json.body.prompt || body.text || '' } ] }) }}",
        "rawContentType": "application/json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "c9ebc971-b308-4add-bc4a-723a8cc70897",
      "name": "Build ComfyUI Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        420
      ],
      "parameters": {
        "jsCode": "const raw = $('Webhook').first().json.body || {};\nconst originalPrompt = (raw.prompt || raw.text || '').trim();\nlet enhanced = $input.first().json.message?.content || originalPrompt || 'a cinematic scene';\n// Strip any <think>...</think> tags from qwen3 reasoning\nenhanced = enhanced.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\nconst channelId = raw.channel || raw.channel_id || 'C0AKJ788GJK';\nconst userId    = raw.user_id || raw.user    || '';\nconst clientId  = 'n8n-vid-' + Date.now();\nconst seed = Math.floor(Math.random() * 1_000_000_000);\n\n// AnimateDiff v3 SD1.5 pipeline \u2192 16-frame MP4 via VHS_VideoCombine\n// Requires: v1-5-pruned-emaonly.safetensors (checkpoint) + v3_sd15_mm.ckpt (motion model)\nconst workflow = {\n  // 1. Load SD1.5 checkpoint\n  \"1\": {\n    \"inputs\": { \"ckpt_name\": \"v1-5-pruned-emaonly.safetensors\" },\n    \"class_type\": \"CheckpointLoaderSimple\"\n  },\n  // 2. Load AnimateDiff v3 motion model\n  \"2\": {\n    \"inputs\": {\n      \"model_name\": \"v3_sd15_mm.ckpt\",\n      \"beta_schedule\": \"sqrt_linear (AnimateDiff)\",\n      \"model\": [\"1\", 0]\n    },\n    \"class_type\": \"ADE_AnimateDiffLoaderGen1\"\n  },\n  // 3. Positive prompt\n  \"3\": {\n    \"inputs\": { \"text\": enhanced, \"clip\": [\"1\", 1] },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  // 4. Negative prompt\n  \"4\": {\n    \"inputs\": {\n      \"text\": \"blurry, low quality, static, watermark, text, logo, deformed, morphing, distorted face, bad anatomy, extra limbs\",\n      \"clip\": [\"1\", 1]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  // 5. Empty latent (16 frames for ~2 sec at 8fps)\n  \"5\": {\n    \"inputs\": { \"width\": 512, \"height\": 512, \"batch_size\": 16 },\n    \"class_type\": \"EmptyLatentImage\"\n  },\n  // 6. KSampler with AnimateDiff-patched model\n  \"6\": {\n    \"inputs\": {\n      \"seed\": seed, \"steps\": 25, \"cfg\": 7.5,\n      \"sampler_name\": \"euler_ancestral\", \"scheduler\": \"normal\",\n      \"denoise\": 1.0,\n      \"model\": [\"2\", 0], \"positive\": [\"3\", 0], \"negative\": [\"4\", 0],\n      \"latent_image\": [\"5\", 0]\n    },\n    \"class_type\": \"KSampler\"\n  },\n  // 7. VAE Decode\n  \"7\": {\n    \"inputs\": { \"samples\": [\"6\", 0], \"vae\": [\"1\", 2] },\n    \"class_type\": \"VAEDecode\"\n  },\n  // 8. Combine frames to H264 MP4 using NVENC (RTX 5070 Ti)\n  \"8\": {\n    \"inputs\": {\n      \"frame_rate\": 8,\n      \"loop_count\": 0,\n      \"filename_prefix\": \"n8n_video\",\n      \"format\": \"video/h264-mp4\",\n      \"pingpong\": false,\n      \"save_output\": true,\n      \"pix_fmt\": \"yuv420p\",\n      \"crf\": 19,\n      \"save_metadata\": true,\n      \"images\": [\"7\", 0]\n    },\n    \"class_type\": \"VHS_VideoCombine\"\n  }\n};\n\n// Store original prompt for Slack display; enhanced is used for generation only\nreturn [{ json: { workflow, clientId, channelId, userId, prompt: originalPrompt } }];\n"
      }
    },
    {
      "id": "bcc88ca1-5e22-43a1-985f-6a5a229223ed",
      "name": "Submit to ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        920,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ prompt: $json.workflow, client_id: $json.clientId }) }}",
        "options": {
          "timeout": 600000
        },
        "rawContentType": "application/json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      }
    },
    {
      "id": "15ff9e06-0727-44fd-8743-e1422fdfdd0d",
      "name": "Poll Until Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        420
      ],
      "parameters": {
        "jsCode": "const http = require('http');\n\nfunction httpGetComfyUI(path) {\n  return new Promise((resolve, reject) => {\n    const req = http.get({ host: 'host.docker.internal', port: 8188, path }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        try { resolve(JSON.parse(Buffer.concat(chunks).toString())); }\n        catch { resolve({}); }\n      });\n    });\n    req.on('error', reject);\n  });\n}\n\nconst promptId  = $input.first().json.prompt_id;\nconst maxTries  = 90; // 7.5 min max (AnimateDiff takes longer than single image)\n\nfor (let i = 0; i < maxTries; i++) {\n  await new Promise(r => setTimeout(r, 5000));\n  const history = await httpGetComfyUI(`/history/${promptId}`);\n  const entry = history[promptId];\n  if (entry?.status?.completed) {\n    // VHS_VideoCombine outputs ALL files (mp4 + gif preview) under 'gifs' key\n    const node = Object.values(entry.outputs || {}).find(o => o.gifs?.length || o.videos?.length || o.images?.length);\n    if (node) {\n      const allMedia = [...(node.gifs||[]), ...(node.videos||[]), ...(node.images||[])];\n      const VIDEO_EXTS = ['mp4','webm','mkv'];\n      // Prefer MP4/video first, then GIF, then anything else\n      const media =\n        allMedia.find(m => VIDEO_EXTS.includes((m.filename||'').split('.').pop().toLowerCase())) ||\n        allMedia.find(m => (m.format||'').startsWith('video/')) ||\n        allMedia.find(m => (m.filename||'').split('.').pop().toLowerCase() === 'gif') ||\n        allMedia[0];\n      if (!media) continue;\n      const buildData = $('Build ComfyUI Payload').first().json;\n      const ext = (media.filename || '').split('.').pop().toLowerCase();\n      const fmtField = (media.format || '');\n      const mediaType = (VIDEO_EXTS.includes(ext) || fmtField.startsWith('video/')) ? 'video'\n                      : (ext === 'gif' ? 'gif' : 'image');\n      return [{ json: {\n        promptId,\n        filename:  media.filename,\n        subfolder: media.subfolder || '',\n        type:      media.type || 'output',\n        channelId: buildData.channelId,\n        userId:    buildData.userId,\n        prompt:    buildData.prompt,\n        mediaType\n      }}];\n    }\n  }\n}\nthrow new Error('ComfyUI generation timed out after 7.5 minutes');\n"
      }
    },
    {
      "id": "46535098-b2fc-4551-81a5-eb1c4d2d7272",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        420
      ],
      "parameters": {
        "method": "GET",
        "url": "=http://host.docker.internal:8188/view?filename={{ encodeURIComponent($json.filename) }}&subfolder={{ $json.subfolder }}&type={{ $json.type }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst http = require('http');\n\n// JSON-body Slack API call (for chat.postMessage, files.completeUploadExternal)\nfunction slackApi(method, body) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify(body);\n    const req = https.request({\n      method: 'POST', hostname: 'slack.com', path: `/api/${method}`,\n      headers: {\n        'Authorization': `Bearer ${$env.SLACK_BOT_TOKEN}`,\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(data)\n      }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        try { resolve(JSON.parse(Buffer.concat(chunks).toString())); }\n        catch { resolve({}); }\n      });\n    });\n    req.on('error', reject);\n    req.write(data);\n    req.end();\n  });\n}\n\n// Form-encoded Slack API call (required for files.getUploadURLExternal)\nfunction slackFormApi(method, params) {\n  return new Promise((resolve, reject) => {\n    const formBody = Object.keys(params)\n      .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(String(params[k])))\n      .join('&');\n    const req = https.request({\n      method: 'POST', hostname: 'slack.com', path: `/api/${method}`,\n      headers: {\n        'Authorization': `Bearer ${$env.SLACK_BOT_TOKEN}`,\n        'Content-Type': 'application/x-www-form-urlencoded',\n        'Content-Length': Buffer.byteLength(formBody)\n      }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        try { resolve(JSON.parse(Buffer.concat(chunks).toString())); }\n        catch { resolve({}); }\n      });\n    });\n    req.on('error', reject);\n    req.write(formBody);\n    req.end();\n  });\n}\n\nfunction uploadFileToBucket(uploadUrl, fileData) {\n  return new Promise((resolve, reject) => {\n    // Parse URL manually \u2014 require('url').URL not available in sandbox\n    const match = uploadUrl.match(/^https?:\\/\\/([^/?#]+)(.*)/);\n    if (!match) { reject(new Error('Bad upload URL: ' + uploadUrl.slice(0,80))); return; }\n    const [, hostname, path] = match;\n    const req = https.request({\n      method: 'POST', hostname, path,\n      headers: { 'Content-Type': 'application/octet-stream', 'Content-Length': fileData.length }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => resolve(Buffer.concat(chunks).toString()));\n    });\n    req.on('error', reject);\n    req.write(fileData);\n    req.end();\n  });\n}\n\nfunction downloadFromComfyUI(filename, subfolder, type) {\n  return new Promise((resolve, reject) => {\n    const p = `/view?filename=${encodeURIComponent(filename)}&subfolder=${encodeURIComponent(subfolder)}&type=${type}`;\n    const req = http.get({ host: 'host.docker.internal', port: 8188, path: p }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => resolve(Buffer.concat(chunks)));\n    });\n    req.on('error', reject);\n  });\n}\n\nconst ctx = $input.first().json;\nconst channelId = ctx.channelId || 'C0AKJ788GJK';\nconst prompt = ctx.prompt || '';\nconst mediaType = ctx.mediaType || 'video';\n\nif (mediaType === 'video') {\n  // Download the MP4 from ComfyUI\n  const fileData = await downloadFromComfyUI(ctx.filename, ctx.subfolder || '', ctx.type || 'output');\n  if (!fileData || fileData.length === 0) {\n    throw new Error(`ComfyUI download failed or empty for: ${ctx.filename}`);\n  }\n  const filename = ctx.filename || 'video.mp4';\n  const title = `Video: ${prompt.slice(0, 80)}`;\n  const comment = `:film_frames: *Video Generated*\\n*Prompt:* ${prompt.slice(0, 200)}\\n_AnimateDiff v3 SD1.5 16-frame MP4 on RTX 5070 Ti \\u00b7 ${new Date().toLocaleTimeString()}_`;\n\n  // Step 1: Get upload URL \u2014 requires form-encoded body (NOT JSON)\n  const urlResp = await slackFormApi('files.getUploadURLExternal', {\n    filename,\n    length: fileData.length\n  });\n  if (!urlResp.ok) throw new Error(`getUploadURLExternal failed: ${urlResp.error || JSON.stringify(urlResp)}`);\n\n  // Step 2: Upload file bytes to Slack's presigned storage URL\n  await uploadFileToBucket(urlResp.upload_url, fileData);\n\n  // Step 3: Complete upload \u2014 try with channel_id to share directly in channel\n  let completeResp = await slackApi('files.completeUploadExternal', {\n    files: [{ id: urlResp.file_id, title }],\n    channel_id: channelId,\n    initial_comment: comment\n  });\n\n  if (completeResp.ok) {\n    // File uploaded and shared to channel directly \u2014 done!\n    return [{ json: { ok: true, channel: channelId, file_id: completeResp.files?.[0]?.id } }];\n  }\n\n  // Step 4: If bot not in channel, complete without channel_id then post a message with the link\n  if (completeResp.error === 'not_in_channel' || completeResp.error === 'channel_not_found') {\n    completeResp = await slackApi('files.completeUploadExternal', {\n      files: [{ id: urlResp.file_id, title }]\n    });\n    if (!completeResp.ok) throw new Error(`completeUploadExternal failed: ${completeResp.error}`);\n\n    const fileInfo = completeResp.files?.[0];\n    const fileUrl = fileInfo?.permalink || fileInfo?.url_private || '';\n\n    const msgResult = await slackApi('chat.postMessage', {\n      channel: channelId,\n      text: comment + (fileUrl ? `\\n<${fileUrl}|\\u25b6 Watch / Download Video>` : '')\n    });\n    if (!msgResult.ok) throw new Error(`chat.postMessage failed: ${msgResult.error}`);\n    return [{ json: { ok: true, ts: msgResult.ts, channel: msgResult.channel, channelId } }];\n  }\n\n  throw new Error(`completeUploadExternal failed: ${completeResp.error || JSON.stringify(completeResp)}`);\n\n} else {\n  // Fallback for GIF/image: use image block with ComfyUI preview URL\n  const ngrokBase = ($env.WEBHOOK_URL || '').replace(/\\/$/, '');\n  const imageUrl = `${ngrokBase}/webhook/preview-comfyui?filename=${encodeURIComponent(ctx.filename)}&subfolder=${encodeURIComponent(ctx.subfolder || '')}&type=${ctx.type || 'output'}`;\n  const titleText = ':film_frames: Video Generated';\n  const blocks = [\n    { type: 'header', text: { type: 'plain_text', text: titleText } },\n    { type: 'section', text: { type: 'mrkdwn', text: `*Prompt:* ${prompt.slice(0, 200)}` } },\n    { type: 'image', image_url: imageUrl, alt_text: 'Generated output' },\n    { type: 'context', elements: [{ type: 'mrkdwn', text: `_AnimateDiff v3 on RTX 5070 Ti \\u00b7 ${new Date().toLocaleTimeString()}_` }] }\n  ];\n  const result = await slackApi('chat.postMessage', {\n    channel: channelId,\n    text: `${titleText}: ${prompt.slice(0, 80)}`,\n    blocks\n  });\n  if (!result.ok) throw new Error(`Slack post failed: ${result.error}`);\n  return [{ json: { ok: true, ts: result.ts, channel: result.channel, channelId } }];\n}\n"
      },
      "id": "99d53427-7e80-4583-b9e1-a14de4ed07b8",
      "name": "Upload to Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Restore context from Poll Until Done node (HTTP Request dropped it)\nconst poll = $('Poll Until Done').first().json;\nconst item = $input.first();\nreturn [{\n  json: {\n    channelId: poll.channelId || '',\n    filename: poll.filename || 'file',\n    prompt: poll.prompt || '',\n    uploadComment: poll.uploadComment || '{}'\n  },\n  binary: item.binary\n}];"
      },
      "id": "bea3200a-de59-4880-91cd-2c189eabddc4",
      "name": "Restore Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ack Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Slack": {
      "main": [
        [
          {
            "node": "Enhance Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Prompt": {
      "main": [
        [
          {
            "node": "Build ComfyUI Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ComfyUI Payload": {
      "main": [
        [
          {
            "node": "Submit to ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to ComfyUI": {
      "main": [
        [
          {
            "node": "Poll Until Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Until Done": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Restore Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Slack": {
      "main": [
        []
      ]
    },
    "Restore Context": {
      "main": [
        [
          {
            "node": "Upload to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "updatedAt": "2026-03-13T20:01:35.000Z"
}