services/n8n/workflows/comfyui-text-to-video.json
{
  "id": "comfyui-t2v-001",
  "name": "ComfyUI Text to Video",
  "active": true,
  "nodes": [
    {
      "id": "52ccd298-7dc7-4788-9cc8-95a0af017a86",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "comfyui-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "comfyui-video-wh"
    },
    {
      "id": "c289e236-e4e1-4295-9fea-0a19748046e1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        200,
        180
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok:true}) }}",
        "options": {}
      }
    },
    {
      "id": "2bacadb8-47dc-4aa7-a2a2-2fcd58ac2ea5",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ channel: $json.body.channel_id || 'C0AKJ788GJK', text: ':film_frames: *Generating video...*\\n> ' + ($json.body.prompt || body.text || '') + '\\n_This takes 1-3 minutes_' }) }}"
      }
    },
    {
      "id": "58be9c34-6382-445d-bd65-7dc66028eefa",
      "name": "Enhance Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ model: 'llama3.1:70b', stream: false, messages: [ { role: 'system', content: 'You are an expert at writing AnimateDiff video generation prompts. Create a detailed, motion-rich prompt that describes movement, camera angles, and visual dynamics. Return ONLY the enhanced prompt (max 100 words).' }, { role: 'user', content: $('Webhook').first().json.body.prompt || body.text || '' } ] }) }}",
        "rawContentType": "application/json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "c9ebc971-b308-4add-bc4a-723a8cc70897",
      "name": "Build ComfyUI Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        420
      ],
      "parameters": {
        "jsCode": "const raw = $('Webhook').first().json.body || {};\nconst enhanced = $input.first().json.message?.content || raw.prompt || 'a cinematic scene';\nconst channelId = raw.channel || raw.channel_id || 'C0AKJ788GJK';\nconst userId    = raw.user_id || raw.user    || '';\nconst clientId  = 'n8n-vid-' + Date.now();\nconst seed = Math.floor(Math.random() * 1_000_000_000);\n\n// SDXL 4-frame batch \u2192 animated GIF via VHS_VideoCombine\n// Generates 4 stylistic variations of the scene as an animated loop\nconst workflow = {\n  \"1\": { \"inputs\": {\"ckpt_name\": \"sd_xl_base_1.0.safetensors\"}, \"class_type\": \"CheckpointLoaderSimple\" },\n  \"2\": { \"inputs\": {\"text\": enhanced, \"clip\": [\"1\",1]}, \"class_type\": \"CLIPTextEncode\" },\n  \"3\": { \"inputs\": {\"text\": \"blurry, low quality, static, watermark, text, logo, deformed\", \"clip\": [\"1\",1]}, \"class_type\": \"CLIPTextEncode\" },\n  \"4\": { \"inputs\": {\"width\": 768, \"height\": 512, \"batch_size\": 4}, \"class_type\": \"EmptyLatentImage\" },\n  \"5\": {\n    \"inputs\": {\n      \"seed\": seed, \"steps\": 20, \"cfg\": 7.0,\n      \"sampler_name\": \"euler_ancestral\", \"scheduler\": \"karras\", \"denoise\": 1.0,\n      \"model\": [\"1\",0], \"positive\": [\"2\",0], \"negative\": [\"3\",0], \"latent_image\": [\"4\",0]\n    },\n    \"class_type\": \"KSampler\"\n  },\n  \"6\": { \"inputs\": {\"samples\": [\"5\",0], \"vae\": [\"1\",2]}, \"class_type\": \"VAEDecode\" },\n  \"7\": {\n    \"inputs\": {\n      \"frame_rate\": 3, \"loop_count\": 0,\n      \"filename_prefix\": \"n8n_video\",\n      \"format\": \"image/gif\",\n      \"pingpong\": false, \"save_output\": true,\n      \"images\": [\"6\",0]\n    },\n    \"class_type\": \"VHS_VideoCombine\"\n  }\n};\n\nreturn [{ json: { workflow, clientId, channelId, userId, prompt: enhanced } }];\n"
      }
    },
    {
      "id": "bcc88ca1-5e22-43a1-985f-6a5a229223ed",
      "name": "Submit to ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        920,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ prompt: $json.workflow, client_id: $json.clientId }) }}",
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "15ff9e06-0727-44fd-8743-e1422fdfdd0d",
      "name": "Poll Until Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        420
      ],
      "parameters": {
        "jsCode": "const http = require('http');\n\nfunction httpGetComfyUI(path) {\n  return new Promise((resolve, reject) => {\n    const req = http.get({ host: 'host.docker.internal', port: 8188, path }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        try { resolve(JSON.parse(Buffer.concat(chunks).toString())); }\n        catch { resolve({}); }\n      });\n    });\n    req.on('error', reject);\n  });\n}\n\nconst promptId  = $input.first().json.prompt_id;\nconst maxTries  = 72;\n\nfor (let i = 0; i < maxTries; i++) {\n  await new Promise(r => setTimeout(r, 5000));\n  const history = await httpGetComfyUI(`/history/${promptId}`);\n  const entry = history[promptId];\n  if (entry?.status?.completed) {\n    const node = Object.values(entry.outputs || {}).find(o => o.gifs?.length || o.videos?.length || o.images?.length);\n    if (node) {\n      const media = node.gifs?.[0] || node.videos?.[0] || node.images?.[0];\n      const buildData = $('Build ComfyUI Payload').first().json;\n      return [{ json: {\n        promptId,\n        filename:  media.filename,\n        subfolder: media.subfolder || '',\n        type:      media.type || 'output',\n        channelId: buildData.channelId,\n        userId:    buildData.userId,\n        prompt:    buildData.prompt,\n        mediaType: 'gif'\n      }}];\n    }\n  }\n}\nthrow new Error('ComfyUI generation timed out after 6 minutes');\n"
      }
    },
    {
      "id": "46535098-b2fc-4551-81a5-eb1c4d2d7272",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        420
      ],
      "parameters": {
        "method": "GET",
        "url": "=http://host.docker.internal:8188/view?filename={{ encodeURIComponent($json.filename) }}&subfolder={{ $json.subfolder }}&type={{ $json.type }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction postMessage(body) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify(body);\n    const req = https.request({\n      method: 'POST', hostname: 'slack.com', path: '/api/chat.postMessage',\n      headers: {\n        'Authorization': `Bearer ${$env.SLACK_BOT_TOKEN}`,\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(data)\n      }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        try { resolve(JSON.parse(Buffer.concat(chunks).toString())); }\n        catch { resolve({}); }\n      });\n    });\n    req.on('error', reject);\n    req.write(data);\n    req.end();\n  });\n}\n\nconst ctx = $input.first().json;\nconst channelId = ctx.channelId || 'C0AKW7W9ZPX';\nconst prompt = ctx.prompt || '';\nconst filename = encodeURIComponent(ctx.filename || '');\nconst subfolder = encodeURIComponent(ctx.subfolder || '');\nconst type = ctx.type || 'output';\nconst mediaType = ctx.mediaType || 'image';\n\n// Build public URL via n8n preview webhook \u2192 ComfyUI proxy\nconst ngrokBase = ($env.WEBHOOK_URL || '').replace(/\\/$/, '');\nconst imageUrl = `${ngrokBase}/webhook/preview-comfyui?filename=${filename}&subfolder=${subfolder}&type=${type}`;\n\nconst isVideo = mediaType === 'gif';\nconst titleText = isVideo ? ':film_frames: Video Generated' : ':art: Image Generated';\nconst modelNote = isVideo ? 'SDXL 4-frame GIF on RTX 5070 Ti' : 'SDXL on RTX 5070 Ti';\n\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: titleText } },\n  { type: 'section', text: { type: 'mrkdwn', text: `*Prompt:* ${prompt.slice(0, 200)}` } },\n  { type: 'image', image_url: imageUrl, alt_text: 'Generated output' },\n  { type: 'context', elements: [{ type: 'mrkdwn', text: `_${modelNote} \u00b7 ${new Date().toLocaleTimeString()}_` }] }\n];\n\nconst result = await postMessage({\n  channel: channelId,\n  text: `${titleText}: ${prompt.slice(0, 80)}`,\n  blocks\n});\n\nif (!result.ok) {\n  throw new Error(`Slack post failed: ${result.error || JSON.stringify(result)}`);\n}\n\nreturn [{ json: { ok: true, ts: result.ts, channel: result.channel, channelId } }];\n"
      },
      "id": "99d53427-7e80-4583-b9e1-a14de4ed07b8",
      "name": "Upload to Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Restore context from Poll Until Done node (HTTP Request dropped it)\nconst poll = $('Poll Until Done').first().json;\nconst item = $input.first();\nreturn [{\n  json: {\n    channelId: poll.channelId || '',\n    filename: poll.filename || 'file',\n    prompt: poll.prompt || '',\n    uploadComment: poll.uploadComment || '{}'\n  },\n  binary: item.binary\n}];"
      },
      "id": "bea3200a-de59-4880-91cd-2c189eabddc4",
      "name": "Restore Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ack Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Slack": {
      "main": [
        [
          {
            "node": "Enhance Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Prompt": {
      "main": [
        [
          {
            "node": "Build ComfyUI Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ComfyUI Payload": {
      "main": [
        [
          {
            "node": "Submit to ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to ComfyUI": {
      "main": [
        [
          {
            "node": "Poll Until Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Until Done": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Restore Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Slack": {
      "main": [
        []
      ]
    },
    "Restore Context": {
      "main": [
        [
          {
            "node": "Upload to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "updatedAt": "2026-03-13T20:01:35.000Z"
}