services/n8n/workflows/patent-spec-generator.json
{
  "id": "patent-spec-001",
  "name": "Patent Spec Generator",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "patent-spec",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "pat-webhook-01",
      "name": "Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "patent-spec-wh-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst description = (body.description || '').trim();\nconst channelId = body.channelId || '';\nconst userId = body.userId || '';\nconst userName = body.userName || 'user';\n\nconst systemPrompt = `You are a senior patent attorney and technical writer at a top US IP law firm. Write a complete, professional US utility patent application specification.\n\nREQUIRED SECTIONS (include all, in this order):\n\n1. TITLE OF THE INVENTION\n   - Precise, 3-15 words, no brand names\n\n2. FIELD OF THE INVENTION\n   - One paragraph identifying the technical field\n\n3. BACKGROUND OF THE INVENTION\n   - 2-4 paragraphs: existing solutions, their limitations, why they fail\n\n4. SUMMARY OF THE INVENTION\n   - 2-3 paragraphs: high-level description of the invention and its advantages\n\n5. BRIEF DESCRIPTION OF THE DRAWINGS\n   - List figures that would accompany the patent (FIG. 1, FIG. 2, etc.)\n   - Describe what each figure shows\n\n6. DETAILED DESCRIPTION OF THE PREFERRED EMBODIMENTS\n   - 4-8 paragraphs with full technical detail\n   - Reference figures by number\n   - Describe materials, dimensions, relationships, alternatives\n\n7. CLAIMS\n   - At least 3 independent claims (broad, medium, narrow scope)\n   - At least 7 dependent claims referencing the independent claims\n   - Proper legal claim language: \"A [device/method/system] comprising...\"\n   - Each claim is one sentence (use semicolons)\n\n8. ABSTRACT\n   - One paragraph, max 150 words, summarizing the invention\n\nSTYLE RULES:\n- Use formal patent language (\"the invention\", \"in one embodiment\", \"as used herein\")\n- Claims must be precise and non-obvious\n- Independent claims should be broad enough to capture infringers\n- Do not include drawings (describe them textually)`;\n\nreturn [{ json: { description, channelId, userId, userName, systemPrompt } }];"
      },
      "id": "pat-parse-01",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'qwen2.5:32b-instruct-q5_K_M', messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: 'Write a complete patent specification for the following invention:\\n\\n' + $json.description }], stream: false, options: { temperature: 0.3, num_predict: 8192 } }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "pat-ollama-01",
      "name": "Generate Patent Spec",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// $input.first().json IS the already-parsed Ollama JSON response\nconst resp = $input.first().json;\nconst specText = (resp.message?.content || resp.response || '').trim();\nif (!specText) throw new Error('Ollama returned empty response');\n\nconst buildData = $('Build Prompt').first().json;\nconst channelId = buildData.channelId || '';\nconst description = buildData.description || '';\n\nreturn [{ json: { specText, channelId, description } }];"
      },
      "id": "pat-format-01",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "pat-respond-01",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1760,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction httpsReq(options, body) {\n  return new Promise((resolve, reject) => {\n    if (Buffer.isBuffer(body)) {\n      options.headers = options.headers || {};\n      options.headers['Content-Length'] = body.length;\n    }\n    const req = https.request(options, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const text = Buffer.concat(chunks).toString();\n        try { resolve(JSON.parse(text)); } catch { resolve({ _raw: text }); }\n      });\n    });\n    req.on('error', reject);\n    if (body) req.write(body);\n    req.end();\n  });\n}\n\nconst token = $env.SLACK_BOT_TOKEN;\nconst item = $input.first().json;\nconst specText = item.specText || '';\nconst channelId = item.channelId || '';\nconst description = item.description || '';\n\n// Convert spec text to binary\nconst buf = Buffer.from(specText, 'utf8');\nconst slug = description.toLowerCase().replace(/[^a-z0-9]+/g, '-').slice(0, 40);\nconst fileName = `patent-spec-${slug}.txt`;\n\n// Step 1: Get upload URL\nconst body1 = `filename=${encodeURIComponent(fileName)}&length=${buf.length}`;\nconst urlData = await httpsReq({\n  method: 'POST', hostname: 'slack.com',\n  path: '/api/files.getUploadURLExternal',\n  headers: {\n    'Authorization': `Bearer ${token}`,\n    'Content-Type': 'application/x-www-form-urlencoded',\n    'Content-Length': Buffer.byteLength(body1),\n  }\n}, Buffer.from(body1));\n\nif (!urlData.ok) throw new Error(`getUploadURL failed: ${JSON.stringify(urlData)}`);\nconst { upload_url, file_id } = urlData;\n\n// Step 2: PUT text content to upload URL\nconst urlMatch = upload_url.match(/^https?:\\/\\/([^\\/]+)(\\/[^?]*)?(\\?.*)?$/);\nawait httpsReq({\n  method: 'PUT', hostname: urlMatch[1],\n  path: (urlMatch[2] || '/') + (urlMatch[3] || ''),\n  headers: { 'Content-Type': 'text/plain; charset=utf-8', 'Content-Length': buf.length }\n}, buf);\n\n// Step 3: Complete \u2014 share directly to channel with context as initial_comment\n// Count approximate word + page stats\nconst wordCount = specText.split(/\\s+/).filter(Boolean).length;\nconst pageEstimate = Math.ceil(wordCount / 250);\n\nconst comment = [\n  `:page_with_curl: *Patent Application Specification Draft*`,\n  `*Invention:* ${description}`,\n  ``,\n  `_${wordCount.toLocaleString()} words \u00b7 ~${pageEstimate} pages \u00b7 Full text in attached file_`,\n  `_Sections: Title \u00b7 Field \u00b7 Background \u00b7 Summary \u00b7 Drawings \u00b7 Embodiments \u00b7 Claims \u00b7 Abstract_`,\n  ``,\n  `:warning: _AI-generated draft. Have a licensed US patent attorney review before filing._`,\n].join('\\n');\n\nconst completeBody = JSON.stringify({\n  files: [{ id: file_id }],\n  ...(channelId ? { channel_id: channelId } : {}),\n  initial_comment: comment,\n});\n\nconst completeResp = await httpsReq({\n  method: 'POST', hostname: 'slack.com',\n  path: '/api/files.completeUploadExternal',\n  headers: {\n    'Authorization': `Bearer ${token}`,\n    'Content-Type': 'application/json',\n    'Content-Length': Buffer.byteLength(completeBody),\n  }\n}, Buffer.from(completeBody));\n\nif (!completeResp.ok) throw new Error(`completeUpload failed: ${JSON.stringify(completeResp)}`);\n\nreturn [{ json: { fileId: file_id, channelId, description, wordCount, uploaded: true } }];"
      },
      "id": "10573a4a-14cb-4faa-b8b0-7da3066598b1",
      "name": "Upload Spec File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Generate Patent Spec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Patent Spec": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Upload Spec File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Spec File": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "updatedAt": "2026-03-13T20:16:51.000Z"
}