services/n8n/workflows/patent-spec-generator.json
{
  "id": "patent-spec-001",
  "name": "Patent Spec Generator",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "patent-spec",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "pat-webhook-01",
      "name": "Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "patent-spec-wh-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst description = (body.description || '').trim();\nconst channelId = body.channelId || '';\nconst userId = body.userId || '';\nconst userName = body.userName || 'user';\n\nconst systemPrompt = `You are a senior patent attorney and technical writer at a top US IP law firm. Write a complete, professional US utility patent application specification.\n\nREQUIRED SECTIONS (include all, in this order):\n\n1. TITLE OF THE INVENTION\n   - Precise, 3-15 words, no brand names\n\n2. FIELD OF THE INVENTION\n   - One paragraph identifying the technical field\n\n3. BACKGROUND OF THE INVENTION\n   - 2-4 paragraphs: existing solutions, their limitations, why they fail\n\n4. SUMMARY OF THE INVENTION\n   - 2-3 paragraphs: high-level description of the invention and its advantages\n\n5. BRIEF DESCRIPTION OF THE DRAWINGS\n   - List figures that would accompany the patent (FIG. 1, FIG. 2, etc.)\n   - Describe what each figure shows\n\n6. DETAILED DESCRIPTION OF THE PREFERRED EMBODIMENTS\n   - 4-8 paragraphs with full technical detail\n   - Reference figures by number\n   - Describe materials, dimensions, relationships, alternatives\n\n7. CLAIMS\n   - At least 3 independent claims (broad, medium, narrow scope)\n   - At least 7 dependent claims referencing the independent claims\n   - Proper legal claim language: \"A [device/method/system] comprising...\"\n   - Each claim is one sentence (use semicolons)\n\n8. ABSTRACT\n   - One paragraph, max 150 words, summarizing the invention\n\nSTYLE RULES:\n- Use formal patent language (\"the invention\", \"in one embodiment\", \"as used herein\")\n- Claims must be precise and non-obvious\n- Independent claims should be broad enough to capture infringers\n- Do not include drawings (describe them textually)`;\n\nreturn [{ json: { description, channelId, userId, userName, systemPrompt } }];"
      },
      "id": "pat-parse-01",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'qwen2.5:32b-instruct-q5_K_M', messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: 'Write a complete patent specification for the following invention:\\n\\n' + $json.description }], stream: false, options: { temperature: 0.3, num_predict: 8192 } }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "pat-ollama-01",
      "name": "Generate Patent Spec",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// $input.first().json IS already-parsed Ollama response\nconst resp = $input.first().json;\nconst specText = (resp.message?.content || resp.response || '').trim();\nif (!specText) throw new Error('Ollama returned empty response');\n\nconst buildData = $('Build Prompt').first().json;\nconst channelId = buildData.channelId || '';\nconst description = buildData.description || '';\n\nreturn [{ json: { specText, channelId, description } }];"
      },
      "id": "pat-format-01",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "pat-respond-01",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1760,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction httpsReq(options, body) {\n  return new Promise((resolve, reject) => {\n    if (Buffer.isBuffer(body)) {\n      options.headers = options.headers || {};\n      options.headers['Content-Length'] = body.length;\n    }\n    const req = https.request(options, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const text = Buffer.concat(chunks).toString();\n        try { resolve(JSON.parse(text)); } catch { resolve({ _raw: text }); }\n      });\n    });\n    req.on('error', reject);\n    if (body) req.write(body);\n    req.end();\n  });\n}\n\nconst token = $env.SLACK_BOT_TOKEN;\nconst { specText, channelId, description } = $input.first().json;\n\n// Split spec into \u22642800-char chunks (Slack section text limit is 3000)\nconst CHUNK = 2800;\nconst chunks = [];\nlet pos = 0;\nwhile (pos < specText.length) {\n  // Try to break at a newline boundary near the chunk limit\n  let end = Math.min(pos + CHUNK, specText.length);\n  if (end < specText.length) {\n    const nl = specText.lastIndexOf('\\n', end);\n    if (nl > pos + CHUNK / 2) end = nl + 1;\n  }\n  chunks.push(specText.slice(pos, end).trim());\n  pos = end;\n}\n\nconst wordCount = specText.split(/\\s+/).filter(Boolean).length;\nconst pageEst = Math.ceil(wordCount / 250);\n\n// Build blocks: header + meta + divider + one section per chunk + footer\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: ':page_with_curl: Patent Application Specification', emoji: true } },\n  { type: 'section', text: { type: 'mrkdwn',\n    text: `*Invention:* ${description}\\n_${wordCount.toLocaleString()} words \u00b7 ~${pageEst} pages \u00b7 ${chunks.length} sections_` } },\n  { type: 'divider' },\n  ...chunks.map(c => ({ type: 'section', text: { type: 'mrkdwn', text: c } })),\n  { type: 'divider' },\n  { type: 'context', elements: [{ type: 'mrkdwn',\n    text: ':warning: _AI-generated draft. Have a licensed US patent attorney review and revise before filing._' }] },\n];\n\nconst msgBody = JSON.stringify({ channel: channelId, blocks, unfurl_links: false });\nconst resp = await httpsReq({\n  method: 'POST', hostname: 'slack.com',\n  path: '/api/chat.postMessage',\n  headers: {\n    'Authorization': `Bearer ${token}`,\n    'Content-Type': 'application/json',\n    'Content-Length': Buffer.byteLength(msgBody),\n  }\n}, Buffer.from(msgBody));\n\nif (!resp.ok) throw new Error(`chat.postMessage failed: ${JSON.stringify(resp)}`);\n\nreturn [{ json: { ok: true, ts: resp.ts, channel: resp.channel, wordCount, chunks: chunks.length } }];"
      },
      "id": "29f4fdb7-0ee4-47e2-9e33-762e5675c102",
      "name": "Post Spec",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Generate Patent Spec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Patent Spec": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Post Spec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Spec": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "updatedAt": "2026-03-13T20:29:37.000Z"
}