services/n8n/workflows/slack-command-handler.json
{
  "name": "Slack Command Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-command",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "slack-command"
    },
    {
      "parameters": {
        "jsCode": "// Parse Slack slash command payload (form-encoded)\nconst body = $input.first().json.body;\n\nconst command = body.command || '/ai';\nconst text = (body.text || '').trim();\nconst userId = body.user_id || '';\nconst userName = body.user_name || 'unknown';\nconst channelId = body.channel_id || '';\nconst channelName = body.channel_name || '';\nconst responseUrl = body.response_url || '';\n\n// Route based on command\nlet agent = 'general';\nif (command === '/ai-status') agent = 'status';\nelse if (command === '/ai-draw') agent = 'draw';\nelse if (command === '/ai-diagnose') agent = 'diagnose';\nelse if (text.toLowerCase().startsWith('kevin')) agent = 'kevin';\nelse if (text.toLowerCase().startsWith('jason')) agent = 'jason';\nelse if (text.toLowerCase().startsWith('scaachi')) agent = 'scaachi';\nelse if (text.toLowerCase().startsWith('christian')) agent = 'christian';\nelse if (text.toLowerCase().startsWith('chidi')) agent = 'chidi';\n\nreturn [{\n  json: {\n    command,\n    text,\n    userId,\n    userName,\n    channelId,\n    channelName,\n    responseUrl,\n    agent,\n    receivedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-command",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response_type: 'ephemeral', text: ':robot_face: *ai-workers* received: `' + $json.command + ' ' + $json.text + '`\\n_Processing... (routed to ' + $json.agent + ')_' }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "ack-command",
      "name": "Acknowledge to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Command", "type": "main", "index": 0 }]]
    },
    "Parse Command": {
      "main": [[{ "node": "Acknowledge to Slack", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
