services/n8n/workflows/slack-events-receiver.json
{
  "name": "Slack Events Receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "slack-events"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "url_verification",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "node-is-challenge",
      "name": "URL Verification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ challenge: $json.body.challenge }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-challenge-resp",
      "name": "Return Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}",
        "options": { "responseCode": 200 }
      },
      "id": "node-ack",
      "name": "Ack Event",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 440]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.body.event?.type }}",
              "rightValue": "app_mention",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "node-is-mention",
      "name": "Is App Mention?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 440]
    },
    {
      "parameters": {
        "jsCode": "const event = $('Webhook').first().json.body.event || {};\nconst channelId = event.channel || '';\nconst userId = event.user || '';\nconst rawText = event.text || '';\nconst ts = event.ts || '';\n\n// Strip the bot mention <@BOTID> from the text\nconst userText = rawText.replace(/<@[A-Z0-9]+>/g, '').trim();\n\n// Route personality by channel ID\nconst CHANNEL_MAP = {\n  'C0AKJ76RE7R': 'kevin',\n  'C0ALCHR9A3B': 'jason',\n  'C0AKJ7918JK': 'scaachi',\n  'C0AKW7VNHHB': 'christian',\n  'C0AKZLG3VFU': 'chidi',\n  'C0AKXJSTRV4': 'kevin',\n  'C0ALTUECBU0': 'jason',\n  'C0AKT93TZAP': 'scaachi',\n  'C0AKJ783FF1': 'christian',\n  'C0AKJ787K7H': 'chidi'\n};\n\nconst MODEL_MAP = {\n  kevin: 'kevin:latest',\n  jason: 'jason:latest',\n  scaachi: 'scaachi:latest',\n  christian: 'christian:latest',\n  chidi: 'chidi:latest'\n};\n\nconst agent = CHANNEL_MAP[channelId] || 'kevin';\n\nreturn [{ json: {\n  channelId, userId, rawText, userText, ts,\n  agent,\n  model: MODEL_MAP[agent]\n}}];"
      },
      "id": "node-parse",
      "name": "Parse Mention",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: $json.model, messages: [{ role: 'user', content: $json.userText }], stream: false }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "node-ollama",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 340]
    },
    {
      "parameters": {
        "jsCode": "const ollamaResp = $input.first().json;\nconst parsed = $('Parse Mention').first().json;\n\nconst content = ollamaResp.message?.content || 'No response.';\nconst MAX = 2800;\nconst truncated = content.length > MAX\n  ? content.slice(0, MAX) + '\\n_[truncated]_'\n  : content;\n\nreturn [{ json: {\n  channelId: parsed.channelId,\n  thread_ts: parsed.ts,\n  payload: JSON.stringify({\n    channel: parsed.channelId,\n    thread_ts: parsed.ts,\n    blocks: [\n      {\n        type: 'context',\n        elements: [{ type: 'mrkdwn', text: ':robot_face: *' + parsed.agent + '* responding to <@' + parsed.userId + '>' }]\n      },\n      {\n        type: 'section',\n        text: { type: 'mrkdwn', text: truncated }\n      }\n    ]\n  })\n}}];"
      },
      "id": "node-format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer REDACTED_SLACK_BOT_TOKEN" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload }}",
        "options": {}
      },
      "id": "node-post",
      "name": "Post Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 340]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "URL Verification?", "type": "main", "index": 0 }]]
    },
    "URL Verification?": {
      "main": [
        [{ "node": "Return Challenge", "type": "main", "index": 0 }],
        [{ "node": "Ack Event", "type": "main", "index": 0 }]
      ]
    },
    "Ack Event": {
      "main": [[{ "node": "Is App Mention?", "type": "main", "index": 0 }]]
    },
    "Is App Mention?": {
      "main": [
        [{ "node": "Parse Mention", "type": "main", "index": 0 }],
        []
      ]
    },
    "Parse Mention": {
      "main": [[{ "node": "Call Ollama", "type": "main", "index": 0 }]]
    },
    "Call Ollama": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Post Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
