services/n8n/workflows/slack-status-handler.json
{
  "name": "Slack Status Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "slack-status"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"response_type\":\"ephemeral\",\"text\":\":mag: Checking system status...\"}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "node-ack",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:11434/api/tags",
        "options": {
          "timeout": 600000
        }
      },
      "id": "node-ollama-models",
      "name": "Ollama Models",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:11434/api/ps",
        "options": {
          "timeout": 600000
        }
      },
      "id": "node-ollama-ps",
      "name": "Ollama Running",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:5678/healthz",
        "options": {
          "timeout": 5000
        }
      },
      "id": "node-n8n-health",
      "name": "n8n Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const modelsData = $('Ollama Models').first().json;\nconst psData = $('Ollama Running').first().json;\nconst n8nData = $('n8n Health').first().json;\nconst webhookBody = $('Webhook').first().json.body || {};\n\nconst allModels = modelsData.models || [];\nconst PERSONALITY_NAMES = ['kevin','jason','scaachi','christian','chidi'];\nconst personalities = allModels.filter(m =>\n  PERSONALITY_NAMES.some(p => m.name.startsWith(p))\n);\n\nconst running = psData.models || [];\nlet vramUsed = 0;\nlet runningNames = [];\nfor (const m of running) {\n  vramUsed += (m.size_vram || 0);\n  runningNames.push(m.name.split(':')[0]);\n}\nconst vramGB = (vramUsed / 1e9).toFixed(1);\n\nconst ollamaOk = allModels.length > 0;\nconst n8nOk = n8nData.status === 'ok';\n\nconst ollamaIcon = ollamaOk ? ':large_green_circle:' : ':red_circle:';\nconst n8nIcon = n8nOk ? ':large_green_circle:' : ':red_circle:';\nconst runningText = runningNames.length > 0\n  ? runningNames.join(', ') + ' (' + vramGB + 'GB VRAM)'\n  : 'none (models unloaded)';\n\nconst personalityList = personalities.map(m => m.name.split(':')[0]).join(', ') || 'none';\n\nconst now = new Date().toLocaleString('en-US', {\n  timeZone: 'America/New_York', hour12: true,\n  month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit'\n});\n\nconst lines = [\n  '*ai-workers system status* \u2014 ' + now,\n  '',\n  ollamaIcon + ' *Ollama* \u2014 ' + allModels.length + ' models available',\n  '  Personalities: ' + personalityList,\n  '  In memory: ' + runningText,\n  '',\n  n8nIcon + ' *n8n* \u2014 ' + (n8nOk ? 'healthy' : 'DOWN'),\n  '  Tunnel: https://appendicular-wilson-looser.ngrok-free.dev',\n  '',\n  ':large_green_circle: *Open WebUI* \u2014 http://localhost:8080'\n];\n\nreturn [{ json: {\n  statusText: lines.join('\\n'),\n  responseUrl: webhookBody.response_url || ''\n}}];"
      },
      "id": "node-build",
      "name": "Build Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.responseUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ response_type: 'in_channel', text: $json.statusText }) }}",
        "options": {}
      },
      "id": "node-post-response",
      "name": "Post to Command Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer CONFIGURE_IN_N8N_CREDENTIALS"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ channel: 'C0AKT94FE4T', text: $json.statusText }) }}",
        "options": {}
      },
      "id": "node-post-ops",
      "name": "Post to #ops-status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ack Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Slack": {
      "main": [
        [
          {
            "node": "Ollama Models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Models": {
      "main": [
        [
          {
            "node": "Ollama Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Running": {
      "main": [
        [
          {
            "node": "n8n Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Health": {
      "main": [
        [
          {
            "node": "Build Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Status": {
      "main": [
        [
          {
            "node": "Post to Command Channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to #ops-status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}