services/n8n/workflows/slack-status-handler.json
{
  "name": "Slack Status Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "slack-status"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"response_type\":\"ephemeral\",\"text\":\":mag: Checking system status...\"}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "application/json" }]
          }
        }
      },
      "id": "node-ack",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:11434/api/tags",
        "options": { "timeout": 10000 }
      },
      "id": "node-ollama-models",
      "name": "Ollama Models",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:11434/api/ps",
        "options": { "timeout": 10000 }
      },
      "id": "node-ollama-ps",
      "name": "Ollama Running",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:5678/healthz",
        "options": { "timeout": 5000 }
      },
      "id": "node-n8n-health",
      "name": "n8n Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 600]
    },
    {
      "parameters": {
        "jsCode": "// Gather data from all three upstream nodes\nconst modelsData = $('Ollama Models').first().json;\nconst psData = $('Ollama Running').first().json;\nconst n8nData = $('n8n Health').first().json;\n\n// Models\nconst allModels = modelsData.models || [];\nconst personalities = allModels.filter(m => ['kevin','jason','scaachi','christian','chidi'].some(p => m.name.startsWith(p)));\nconst baseModels = allModels.filter(m => !['kevin','jason','scaachi','christian','chidi','nomic'].some(p => m.name.startsWith(p)));\n\n// Running models\nconst running = psData.models || [];\nlet vramUsed = 0;\nlet runningNames = [];\nfor (const m of running) {\n  vramUsed += (m.size_vram || 0);\n  runningNames.push(m.name.split(':')[0]);\n}\nconst vramGB = (vramUsed / 1e9).toFixed(1);\n\n// Status indicators\nconst ollamaOk = allModels.length > 0;\nconst n8nOk = n8nData.status === 'ok';\n\nconst ollamaIcon = ollamaOk ? ':large_green_circle:' : ':red_circle:';\nconst n8nIcon = n8nOk ? ':large_green_circle:' : ':red_circle:';\nconst runningText = runningNames.length > 0\n  ? runningNames.join(', ') + ` (${vramGB}GB VRAM)`\n  : 'none';\n\nconst personalityList = personalities.map(m => m.name.split(':')[0]).join(', ');\n\nconst now = new Date().toLocaleString('en-US', { timeZone: 'America/New_York', hour12: true });\n\nconst statusText = [\n  `*ai-workers system status* — ${now}`,\n  '',\n  `${ollamaIcon} *Ollama* — ${allModels.length} models loaded`,\n  `  Personalities: ${personalityList || 'none'}`,\n  `  Active: ${runningText}`,\n  '',\n  `${n8nIcon} *n8n* — ${n8nOk ? 'healthy' : 'DOWN'}`,\n  `  Tunnel: https://appendicular-wilson-looser.ngrok-free.dev`,\n  '',\n  `:large_green_circle: *Open WebUI* — http://localhost:8080`\n].join('\\n');\n\nreturn [{ json: {\n  statusText,\n  responseUrl: $('Webhook').first().json.body?.response_url || ''\n}}];"
      },
      "id": "node-build",
      "name": "Build Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.responseUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ response_type: 'in_channel', text: $json.statusText }) }}",
        "options": {}
      },
      "id": "node-post-response",
      "name": "Post to Command Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Bearer {{ $env.SLACK_BOT_TOKEN }}" },
                         { "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ channel: 'C0AKT94FE4T', text: $json.statusText }) }}",
        "options": {}
      },
      "id": "node-post-ops",
      "name": "Post to #ops-status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Ack Slack", "type": "main", "index": 0 }]]
    },
    "Ack Slack": {
      "main": [[
        { "node": "Ollama Models", "type": "main", "index": 0 },
        { "node": "Ollama Running", "type": "main", "index": 0 },
        { "node": "n8n Health", "type": "main", "index": 0 }
      ]]
    },
    "Ollama Models": {
      "main": [[{ "node": "Build Status", "type": "main", "index": 0 }]]
    },
    "Ollama Running": {
      "main": [[{ "node": "Build Status", "type": "main", "index": 1 }]]
    },
    "n8n Health": {
      "main": [[{ "node": "Build Status", "type": "main", "index": 2 }]]
    },
    "Build Status": {
      "main": [[
        { "node": "Post to Command Channel", "type": "main", "index": 0 },
        { "node": "Post to #ops-status", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
