services/n8n/workflows/slack-events-receiver.json
{
  "name": "Slack Events Receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "slack-events"
    },
    {
      "parameters": {
        "jsCode": "// Parse the incoming Slack event and decide how to route it\nconst body = $input.first().json.body || {};\nconst eventType = body.type || '';\n\nif (eventType === 'url_verification') {\n  return [{ json: { route: 'challenge', challenge: body.challenge || '' } }];\n}\n\nconst event = body.event || {};\n\nif (event.type === 'app_mention') {\n  const channelId = event.channel || '';\n  const userId = event.user || '';\n  const rawText = event.text || '';\n  const ts = event.ts || event.event_ts || '';\n  const botId = event.bot_id || null;\n\n  // Ignore messages from bots (including ourselves)\n  if (botId) {\n    return [{ json: { route: 'ignore' } }];\n  }\n\n  // Strip the bot mention <@BOTID> from the text\n  const userText = rawText.replace(/<@[A-Z0-9]+>/g, '').trim();\n\n  // Route personality by channel ID\n  const CHANNEL_MAP = {\n    'C0AKJ76RE7R': 'kevin',\n    'C0ALCHR9A3B': 'jason',\n    'C0AKJ7918JK': 'scaachi',\n    'C0AKW7VNHHB': 'christian',\n    'C0AKZLG3VFU': 'chidi',\n    'C0AKXJSTRV4': 'kevin',\n    'C0ALTUECBU0': 'jason',\n    'C0AKT93TZAP': 'scaachi',\n    'C0AKJ783FF1': 'christian',\n    'C0AKJ787K7H': 'chidi'\n  };\n\n  const MODEL_MAP = {\n    kevin: 'kevin:latest',\n    jason: 'jason:latest',\n    scaachi: 'scaachi:latest',\n    christian: 'christian:latest',\n    chidi: 'chidi:latest'\n  };\n\n  const agent = CHANNEL_MAP[channelId] || 'kevin';\n\n  return [{ json: {\n    route: 'mention',\n    channelId,\n    userId,\n    rawText,\n    userText,\n    ts,\n    agent,\n    model: MODEL_MAP[agent]\n  } }];\n}\n\n// All other events: just ack\nreturn [{ json: { route: 'ignore' } }];"
      },
      "id": "node-router",
      "name": "Route Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.route === 'challenge' ? 0 : $json.route === 'mention' ? 1 : 2 }}",
        "options": {}
      },
      "id": "node-switch",
      "name": "Switch Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ challenge: $json.challenge }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-challenge-resp",
      "name": "Return Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-ack",
      "name": "Ack Event",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-ack-ignore",
      "name": "Ack Ignore",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: $('Route Event').first().json.model, messages: [{ role: 'user', content: $('Route Event').first().json.userText }], stream: false }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "node-ollama",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "jsCode": "const ollamaResp = $input.first().json;\nconst parsed = $('Route Event').first().json;\n\nconst content = ollamaResp.message?.content || 'No response.';\nconst MAX = 2800;\nconst truncated = content.length > MAX\n  ? content.slice(0, MAX) + '\\n_[truncated]_'\n  : content;\n\nreturn [{ json: {\n  channelId: parsed.channelId,\n  thread_ts: parsed.ts,\n  payload: JSON.stringify({\n    channel: parsed.channelId,\n    thread_ts: parsed.ts,\n    blocks: [\n      {\n        type: 'context',\n        elements: [{ type: 'mrkdwn', text: ':robot_face: *' + parsed.agent + '* responding to <@' + parsed.userId + '>' }]\n      },\n      {\n        type: 'section',\n        text: { type: 'mrkdwn', text: truncated }\n      }\n    ]\n  })\n}}];"
      },
      "id": "node-format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_SLACK_BOT_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload }}",
        "options": {}
      },
      "id": "node-post",
      "name": "Post Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Event": {
      "main": [
        [
          {
            "node": "Switch Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Route": {
      "main": [
        [
          {
            "node": "Return Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack Ignore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Event": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Post Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
