services/n8n/workflows/slack-command-handler-v2.json
{
  "id": "VqmllB5WdHsKmntj",
  "name": "Slack Command Handler v2",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-command",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1cf6d49a-02b1-4c27-a581-74ef9d72adf2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1232,
        -192
      ],
      "webhookId": "slack-command"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst command = (body.command || '/ai').toLowerCase();\nconst rawText = (body.text || '').trim();\nconst userId = body.user_id || '';\nconst userName = body.user_name || 'unknown';\nconst channelId = body.channel_id || '';\nconst responseUrl = body.response_url || '';\n\n// \u2500\u2500 Slash command routing \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// /image <prompt>    \u2192 ComfyUI text-to-image \u2192 #studio-canvas\n// /video <prompt>    \u2192 ComfyUI text-to-video \u2192 #studio-reels\n// /enhance <url>     \u2192 ComfyUI image enhance\n// /news [topic]      \u2192 News article search\n// /3d <description>  \u2192 OpenSCAD 3D model generation\n// /patent <idea>     \u2192 AI patent specification writer\n// /ai [agent:] text  \u2192 Council member or direct Ollama\n// /summarize <url>   \u2192 Summarize a URL\n// /review <code>     \u2192 Jason code review\n\nif (command === '/image' || rawText.toLowerCase().startsWith('image:')) {\n  const prompt = command === '/image' ? rawText : rawText.replace(/^image:/i,'').trim();\n  return [{ json: {\n    route: 'studio_image',\n    prompt,\n    channelId: 'C0AKW7W9ZPX', // #studio-canvas\n    sourceChannel: channelId,\n    userId, userName, responseUrl\n  }}];\n}\n\nif (command === '/video' || rawText.toLowerCase().startsWith('video:')) {\n  const prompt = command === '/video' ? rawText : rawText.replace(/^video:/i,'').trim();\n  return [{ json: {\n    route: 'studio_video',\n    prompt,\n    channelId: 'C0AKJ788GJK', // #studio-reels\n    sourceChannel: channelId,\n    userId, userName, responseUrl\n  }}];\n}\n\nif (command === '/enhance' || rawText.toLowerCase().startsWith('enhance:')) {\n  const imageUrl = command === '/enhance' ? rawText : rawText.replace(/^enhance:/i,'').trim();\n  return [{ json: {\n    route: 'studio_enhance',\n    imageUrl,\n    channelId,\n    userId, userName, responseUrl\n  }}];\n}\n\nif (command === '/news' || rawText.toLowerCase().startsWith('news:')) {\n  const query = command === '/news'\n    ? (rawText || 'AI agents automation')\n    : rawText.replace(/^news:/i,'').trim();\n  return [{ json: {\n    route: 'news',\n    query,\n    channelId,\n    userId, userName, responseUrl\n  }}];\n}\n\nif (command === '/3d' || rawText.toLowerCase().startsWith('3d:')) {\n  const description = command === '/3d' ? rawText : rawText.replace(/^3d:/i,'').trim();\n  if (!description) {\n    return [{ json: { route: 'help', channelId, userId, userName, responseUrl }}];\n  }\n  return [{ json: {\n    route: 'cad_3d',\n    description,\n    channelId,\n    userId, userName, responseUrl\n  }}];\n}\n\nif (command === '/patent' || rawText.toLowerCase().startsWith('patent:')) {\n  const description = command === '/patent' ? rawText : rawText.replace(/^patent:/i,'').trim();\n  if (!description) {\n    return [{ json: { route: 'help', channelId, userId, userName, responseUrl }}];\n  }\n  return [{ json: {\n    route: 'patent',\n    description,\n    channelId,\n    userId, userName, responseUrl\n  }}];\n}\n\n\nif (command === '/summarize') {\n  const url = rawText.trim();\n  if (!url || !url.startsWith('http')) {\n    return [{ json: { route: 'help', channelId, userId, userName, responseUrl }}];\n  }\n  return [{ json: {\n    route: 'summarize',\n    url,\n    channelId, userId, userName, responseUrl\n  }}];\n}\n\nif (command === '/review') {\n  const code = rawText.trim();\n  if (!code) {\n    return [{ json: { route: 'help', channelId, userId, userName, responseUrl }}];\n  }\n  return [{ json: {\n    route: 'review',\n    code,\n    channelId, userId, userName, responseUrl\n  }}];\n}\n\nif (command === '/pm' || rawText.toLowerCase().startsWith('pm:')) {\n  const message = command === '/pm' ? rawText : rawText.replace(/^pm:/i,'').trim();\n  if (!message) {\n    return [{ json: { route: 'help', channelId, userId, userName, responseUrl }}];\n  }\n  return [{ json: {\n    route: 'pm',\n    text: message,\n    channelId, userId, userName, responseUrl\n  }}];\n}\n\n// Default: /ai with optional agent prefix (kevin:, jason:, etc.)\nconst AGENTS = ['kevin','jason','scaachi','christian','chidi'];\nconst MODEL_MAP = {\n  kevin: 'kevin:latest', jason: 'jason:latest', scaachi: 'scaachi:latest',\n  christian: 'christian:latest', chidi: 'chidi:latest'\n};\n\nlet agent = 'kevin';\nlet userText = rawText;\n\nfor (const a of AGENTS) {\n  if (rawText.toLowerCase().startsWith(a + ':')) {\n    agent = a;\n    userText = rawText.slice(a.length + 1).trim();\n    break;\n  }\n}\n\nif (!userText) {\n  return [{ json: { route: 'help', channelId, userId, userName, responseUrl }}];\n}\n\nreturn [{ json: {\n  route: 'ai',\n  agent,\n  model: MODEL_MAP[agent],\n  userText,\n  channelId, userId, userName, responseUrl\n}}];"
      },
      "id": "42b62529-d7b9-48be-917c-e1a4958bb103",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response_type: 'ephemeral', text: ':hourglass_flowing_sand: *' + ($json.agent || 'AI') + '* is thinking...' }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "b26d9acb-99e7-4e9f-884f-b5e68d97137f",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1680,
        -192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: $json.model, messages: [{ role: 'user', content: $json.userText }], stream: false }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "e7088eed-e6c0-4d6d-b4a1-9dd44e9881ea",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "const ollamaResp = $input.first().json;\nconst parsed = $('Parse Command').first().json;\n\nconst content = ollamaResp.message?.content || 'No response from model.';\nconst MAX = 2800;\nconst truncated = content.length > MAX\n  ? content.slice(0, MAX) + '\\n_[response truncated]_'\n  : content;\n\nreturn [{ json: {\n  responseUrl: parsed.responseUrl,\n  agent: parsed.agent,\n  userId: parsed.userId,\n  slackPayload: JSON.stringify({\n    response_type: 'in_channel',\n    blocks: [\n      {\n        type: 'context',\n        elements: [{ type: 'mrkdwn', text: ':robot_face: *' + parsed.agent + '* responding to <@' + parsed.userId + '>' }]\n      },\n      {\n        type: 'section',\n        text: { type: 'mrkdwn', text: truncated }\n      }\n    ]\n  })\n}}];"
      },
      "id": "16d8e350-4659-4230-b419-13534b2f96a9",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        -192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.responseUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.slackPayload }}",
        "options": {}
      },
      "id": "61bfc0e3-a973-4c67-9856-83dba172945f",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2336,
        -192
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.route === 'ai' ? 0 : $json.route === 'studio_image' ? 1 : $json.route === 'studio_video' ? 2 : $json.route === 'studio_enhance' ? 3 : $json.route === 'news' ? 4 : $json.route === 'pm' ? 6 : $json.route === 'cad_3d' ? 7 : $json.route === 'patent' ? 8 : $json.route === 'summarize' ? 9 : $json.route === 'review' ? 10 : 5 }}",
        "numberOutputs": 11
      },
      "id": "98e37f86-6b8a-4c6d-b7cf-89543ea04149",
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response_type: 'in_channel', text: ($json.route === 'studio_image' ? ':art: Generating your image in *#studio-canvas*...' : $json.route === 'studio_video' ? ':movie_camera: Generating your video in *#studio-reels*...' : $json.route === 'studio_enhance' ? ':sparkles: Enhancing your image...' : ':newspaper: Fetching top articles...') }) }}",
        "options": {}
      },
      "id": "1f82e1d0-5c5f-43ce-9810-a6f616780a87",
      "name": "Ack Studio Command",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        688,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/comfyui-image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "channel_id",
              "value": "={{ $json.channelId }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.userId }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "195b4824-3414-49b7-ab2c-d7af46ecabdd",
      "name": "Call Studio Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/comfyui-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "channel_id",
              "value": "={{ $json.channelId }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.userId }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "cd273841-4412-4444-8926-0e3b6751c6e2",
      "name": "Call Studio Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/comfyui-enhance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.imageUrl }}"
            },
            {
              "name": "channel_id",
              "value": "={{ $json.channelId }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.userId }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "5ff4baee-5cb2-4986-b5cc-52c06e44be6c",
      "name": "Call Studio Enhance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/news-search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "8487b931-a58a-498a-b13c-27de76b1bf7f",
      "name": "Call News Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        432
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ JSON.stringify({\n  response_type: 'ephemeral',\n  blocks: [\n    { type: 'header', text: { type: 'plain_text', text: '\ud83e\udd16 AI Workers \u2014 Command Reference' } },\n    { type: 'section', text: { type: 'mrkdwn', text: '*Slash Commands:*\\n`/image <prompt>` \u2014 Generate an image in #studio-canvas\\n`/video <prompt>` \u2014 Generate a video in #studio-reels\\n`/enhance <image-url>` \u2014 Upscale an image 4\u00d7\\n`/news [topic]` \u2014 Fetch top 5 news articles\\n`/ai [agent:] <question>` \u2014 Ask a council member (kevin/jason/scaachi/christian/chidi)' } },\n    { type: 'section', text: { type: 'mrkdwn', text: '*Channel triggers:*\\nPost any message in `#studio-canvas` \u2192 auto-generates an image\\nPost any message in `#studio-reels` \u2192 auto-generates a video\\nPost any message in `#the-council` \u2192 council members respond' } }\n  ]\n}) }",
        "options": {}
      },
      "id": "b7d9b9b8-a64f-4911-bace-0afbee6500ac",
      "name": "Show Help",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        912,
        544
      ]
    },
    {
      "id": "5df3963b-ebb8-424b-aa7f-0fb4ecf24f17",
      "name": "Ack PM Command",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        912,
        656
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response_type: 'ephemeral', text: ':memo: Got it! Analyzing your request and creating a Linear issue...' }) }}",
        "options": {}
      }
    },
    {
      "id": "17c14c3a-3f29-4824-960a-34cd6f1dbb4c",
      "name": "Call Linear PM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        656
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/linear-pm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ text: $json.text, channel_id: $json.channelId, user_id: $json.userId, user_name: $json.userName }) }}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ response_type: 'ephemeral', text: ':triangular_ruler: *Generating 3D model* for: _' + $json.description + '_\\nI\\'ll post the results in this channel shortly.' }) }}"
      },
      "id": "75bdd472-652d-4472-a42c-50a8923db386",
      "name": "Ack 3D Command",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        688,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/cad-3d",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ description: $json.description, channelId: $json.channelId, userId: $json.userId, userName: $json.userName }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "7cf618d8-c29b-47f7-8cb6-807471c2e37b",
      "name": "Call 3D CAD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ response_type: 'ephemeral', text: ':page_with_curl: *Generating patent specification* for: _' + $json.description + '_\\nThis may take 1-2 minutes. Results will appear in this channel.' }) }}"
      },
      "id": "a1afb0cf-678c-4910-b5b8-7bdf86771bcf",
      "name": "Ack Patent Command",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        688,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/patent-spec",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ description: $json.description, channelId: $json.channelId, userId: $json.userId, userName: $json.userName }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "3cd38633-cbe3-4cf4-abbb-152d4743de5c",
      "name": "Call Patent Spec",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        960
      ]
    },
    {
      "id": "59fe7172-5dae-4b99-9fc3-832bddb00e77",
      "name": "Ack Summarize",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        688,
        1120
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response_type: 'ephemeral', text: ':mag: Fetching and summarizing that page...' }) }}",
        "options": {}
      }
    },
    {
      "id": "3082e18c-e6e5-4df6-be38-ed36b7f34fb4",
      "name": "Fetch URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        912,
        1120
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Parse Command').first().json.url }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text",
              "fullResponse": false
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-ai-workers/1.0 (biulatech.com; AI automation platform)"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,*/*;q=0.9"
            }
          ]
        }
      }
    },
    {
      "id": "b515558a-64ff-4b4c-8c35-df11186c4cb3",
      "name": "Strip HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        1120
      ],
      "parameters": {
        "jsCode": "const parsed = $('Parse Command').first().json;\nconst html = $input.first().json.data || $input.first().json.body || '';\n// Strip HTML tags, collapse whitespace, truncate\nconst text = html\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&nbsp;/g, ' ')\n  .replace(/\\s{2,}/g, ' ')\n  .trim()\n  .slice(0, 3500);\n\nreturn [{ json: {\n  pageText: text,\n  url: parsed.url,\n  responseUrl: parsed.responseUrl,\n  userId: parsed.userId\n}}];"
      }
    },
    {
      "id": "46065a70-e560-433b-a46f-4016d8b86f7a",
      "name": "Ollama Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1360,
        1120
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: \"scaachi:latest\",\n  stream: false,\n  format: \"json\",\n  options: { temperature: 0 },\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are Scaachi, a sharp and curious AI assistant. Summarize the provided web page content concisely. Return JSON: { \\\"summary\\\": \\\"2-3 paragraph summary\\\", \\\"key_points\\\": [\\\"point1\\\", \\\"point2\\\", \\\"point3\\\"] }\"\n    },\n    {\n      role: \"user\",\n      content: \"Summarize this web page content:\\n\\n\" + $json.pageText\n    }\n  ]\n}) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "b765fc8b-2e6a-4616-b4d7-9a6523247933",
      "name": "Post Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1584,
        1120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Strip HTML').first().json.responseUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (() => {\n  const resp = $input.first().json;\n  const url = $('Strip HTML').first().json.url;\n  const userId = $('Strip HTML').first().json.userId;\n  let parsed;\n  try { parsed = JSON.parse(resp.message?.content || '{}'); } catch(e) { parsed = {}; }\n  const summary = parsed.summary || resp.message?.content || 'Could not summarize.';\n  const points = (parsed.key_points || []).map(p => '\u2022 ' + p).join('\\n');\n  const MAX = 2500;\n  const text = summary.length > MAX ? summary.slice(0, MAX) + '...' : summary;\n  return JSON.stringify({\n    response_type: 'in_channel',\n    blocks: [\n      { type: 'context', elements: [{ type: 'mrkdwn', text: ':mag: *Scaachi* summarized <' + url + '|this page> for <@' + userId + '>' }] },\n      { type: 'section', text: { type: 'mrkdwn', text: text } },\n      ...(points ? [{ type: 'section', text: { type: 'mrkdwn', text: '*Key Points:*\\n' + points } }] : [])\n    ]\n  });\n})() }}",
        "options": {}
      }
    },
    {
      "id": "40e2f2ae-f8d3-48d2-b7ca-194247956a98",
      "name": "Ack Review",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        688,
        1280
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response_type: 'ephemeral', text: ':pencil: Jason is reviewing your code...' }) }}",
        "options": {}
      }
    },
    {
      "id": "347e1703-1ada-4f96-badd-0f41b70cd9f6",
      "name": "Ollama Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        912,
        1280
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: \"jason:latest\",\n  stream: false,\n  format: \"json\",\n  options: { temperature: 0 },\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are Jason, a senior software engineer and code reviewer. Review the provided code and return JSON: { \\\"verdict\\\": \\\"LGTM|NEEDS_WORK|CRITICAL\\\", \\\"issues\\\": [{ \\\"severity\\\": \\\"high|medium|low\\\", \\\"line\\\": \\\"description\\\", \\\"fix\\\": \\\"suggestion\\\" }], \\\"strengths\\\": [\\\"what is good\\\"], \\\"summary\\\": \\\"1-2 sentence overall assessment\\\" }\"\n    },\n    {\n      role: \"user\",\n      content: \"Review this code:\\n\\n\" + $('Parse Command').first().json.code\n    }\n  ]\n}) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "61e9afac-e9ae-4dfe-a5b5-4f5eff5f0f8c",
      "name": "Post Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1136,
        1280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Command').first().json.responseUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (() => {\n  const resp = $input.first().json;\n  const userId = $('Parse Command').first().json.userId;\n  let parsed;\n  try { parsed = JSON.parse(resp.message?.content || '{}'); } catch(e) { parsed = {}; }\n  const verdict = parsed.verdict || 'REVIEWED';\n  const summary = parsed.summary || 'Review complete.';\n  const issues = (parsed.issues || []).slice(0, 5).map(i =>\n    `${i.severity === 'high' ? ':red_circle:' : i.severity === 'medium' ? ':large_yellow_circle:' : ':white_circle:'} ${i.line || i.description || 'Issue'} \u2192 ${i.fix || ''}`\n  ).join('\\n');\n  const strengths = (parsed.strengths || []).map(s => '\u2022 ' + s).join('\\n');\n  const verdictEmoji = verdict === 'LGTM' ? ':white_check_mark:' : verdict === 'CRITICAL' ? ':x:' : ':warning:';\n  return JSON.stringify({\n    response_type: 'in_channel',\n    blocks: [\n      { type: 'context', elements: [{ type: 'mrkdwn', text: ':pencil: *Jason* reviewed code for <@' + userId + '> \u2014 ' + verdictEmoji + ' ' + verdict }] },\n      { type: 'section', text: { type: 'mrkdwn', text: summary } },\n      ...(issues ? [{ type: 'section', text: { type: 'mrkdwn', text: '*Issues:*\\n' + issues } }] : []),\n      ...(strengths ? [{ type: 'section', text: { type: 'mrkdwn', text: '*Strengths:*\\n' + strengths } }] : [])\n    ]\n  });\n})() }}",
        "options": {}
      }
    },
    {
      "id": "a0182f9f-a3f5-4110-b042-12c60ce105a9",
      "name": "Route Studio",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        900,
        240
      ],
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.route === 'studio_image' ? 0 : $json.route === 'studio_video' ? 1 : $json.route === 'studio_enhance' ? 2 : 3 }}",
        "numberOutputs": 4
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Slack": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "Ack Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack Studio Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack Studio Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack Studio Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack Studio Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Show Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack PM Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack 3D Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack Patent Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack Summarize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Studio Command": {
      "main": [
        [
          {
            "node": "Route Studio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack PM Command": {
      "main": [
        [
          {
            "node": "Call Linear PM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack 3D Command": {
      "main": [
        [
          {
            "node": "Call 3D CAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Patent Command": {
      "main": [
        [
          {
            "node": "Call Patent Spec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Summarize": {
      "main": [
        [
          {
            "node": "Fetch URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URL": {
      "main": [
        [
          {
            "node": "Strip HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip HTML": {
      "main": [
        [
          {
            "node": "Ollama Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Summarize": {
      "main": [
        [
          {
            "node": "Post Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Review": {
      "main": [
        [
          {
            "node": "Ollama Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Review": {
      "main": [
        [
          {
            "node": "Post Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Studio": {
      "main": [
        [
          {
            "node": "Call Studio Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Studio Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Studio Enhance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call News Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}