services/n8n/workflows/slack-events-receiver.json
{
  "name": "Slack Events Receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "slack-events"
    },
    {
      "parameters": {
        "jsCode": "// Parse the incoming Slack event and decide how to route it\nconst body = $input.first().json.body || {};\nconst eventType = body.type || '';\n\nif (eventType === 'url_verification') {\n  return [{ json: { route: 'challenge', challenge: body.challenge || '' } }];\n}\n\nconst event = body.event || {};\n\n// Ignore all bot messages to prevent loops\nif (event.bot_id || event.subtype === 'bot_message') {\n  return [{ json: { route: 'ignore' } }];\n}\n\nconst CHANNEL_MAP = {\n  'C0AKJ76RE7R': 'kevin',     // counsel-kevin\n  'C0ALCHR9A3B': 'jason',     // counsel-jason\n  'C0AKJ7918JK': 'scaachi',  // counsel-scaachi\n  'C0AKW7VNHHB': 'christian', // counsel-christian\n  'C0AKZLG3VFU': 'chidi',    // counsel-chidi\n  'C0AKXJSTRV4': 'kevin',     // tasks-kevin\n  'C0ALTUECBU0': 'jason',     // tasks-jason\n  'C0AKT93TZAP': 'scaachi',  // tasks-scaachi\n  'C0AKJ783FF1': 'christian', // tasks-christian\n  'C0AKJ787K7H': 'chidi'     // tasks-chidi\n};\n\nconst TASKS_CHANNELS = new Set([\n  'C0AKXJSTRV4', 'C0ALTUECBU0', 'C0AKT93TZAP', 'C0AKJ783FF1', 'C0AKJ787K7H'\n]);\n\nconst MODEL_MAP = {\n  kevin: 'kevin:latest', jason: 'jason:latest', scaachi: 'scaachi:latest',\n  christian: 'christian:latest', chidi: 'chidi:latest'\n};\n\nconst channelId = event.channel || '';\nconst userId = event.user || '';\nconst rawText = event.text || '';\nconst ts = event.ts || event.event_ts || '';\nconst agent = CHANNEL_MAP[channelId] || 'kevin';\nconst model = MODEL_MAP[agent];\n\n// Handle @mentions\nif (event.type === 'app_mention') {\n  const userText = rawText.replace(/<@[A-Z0-9]+>/g, '').trim();\n\n  // Structured TASK: in tasks channels \u2192 forward to Tasks Channel Handler (full Linear + studio loop)\n  const taskMatch = userText.match(/TASK:\\s*(.+?)(?=\\nCONTEXT:|\\nPRIORITY:|$)/is);\n  if (taskMatch && TASKS_CHANNELS.has(channelId)) {\n    return [{ json: { route: 'task', body, channelId, userId, ts } }];\n  }\n\n  // Regular @mention \u2014 inline Ollama response\n  return [{ json: { route: 'mention', channelId, userId, rawText, userText, prompt: userText, ts, agent, model } }];\n}\n\n// Plain messages in tasks channels with TASK: prefix \u2192 forward to Tasks Channel Handler\nif (event.type === 'message' && TASKS_CHANNELS.has(channelId)) {\n  const taskMatch = rawText.match(/^TASK:\\s*(.+?)(?=\\nCONTEXT:|\\nPRIORITY:|$)/is);\n  if (!taskMatch) {\n    return [{ json: { route: 'ignore' } }];\n  }\n  return [{ json: { route: 'task', body, channelId, userId, ts } }];\n}\n\n// Handle #the-council \u2014 forward to Council Deliberation Engine\nif (channelId === 'C0AKVJ5PHHR' && event.type === 'message') {\n  return [{ json: { route: 'council', body, channelId, userId, ts } }];\n}\n\n// All other events: just ack\nreturn [{ json: { route: 'ignore' } }];"
      },
      "id": "node-router",
      "name": "Route Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.route === 'challenge' ? 0 : $json.route === 'mention' ? 1 : $json.route === 'task' ? 4 : $json.route === 'council' ? 3 : 2 }}",
        "options": {}
      },
      "id": "node-switch",
      "name": "Switch Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ challenge: $json.challenge }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-challenge-resp",
      "name": "Return Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-ack",
      "name": "Ack Event",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-ack-ignore",
      "name": "Ack Ignore",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: $('Route Event').first().json.model, messages: [{ role: 'user', content: $('Route Event').first().json.prompt || $('Route Event').first().json.userText }], stream: false }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "node-ollama",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Convert common markdown to Slack mrkdwn\nfunction mdToMrkdwn(text) {\n  return text\n    .replace(/^#{1,6}\\s+(.+)$/gm, '*$1*')      // headings \u2192 bold\n    .replace(/\\*\\*(.+?)\\*\\*/gs, '*$1*')          // **bold** \u2192 *bold*\n    .replace(/__(.+?)__/gs, '*$1*')              // __bold__ \u2192 *bold*\n    .replace(/~~(.+?)~~/gs, '~$1~')             // ~~strike~~ \u2192 ~strike~\n    .replace(/\\n{3,}/g, '\\n\\n')                  // collapse excess blank lines\n    .trim();\n}\n\n// Agent emoji mapping\nconst AGENT_EMOJI = {\n  kevin: ':briefcase:',\n  jason: ':scales:',\n  scaachi: ':pencil:',\n  christian: ':compass:',\n  chidi: ':bulb:'\n};\n\nconst ollamaResp = $input.first().json;\nconst parsed = $('Route Event').first().json;\n\nconst content = ollamaResp.message?.content || 'No response.';\nconst MAX = 2800;\nconst formatted = mdToMrkdwn(content);\nconst truncated = formatted.length > MAX\n  ? formatted.slice(0, MAX) + '\\n_[truncated \u2014 use /ai for full response]_'\n  : formatted;\n\nconst emoji = AGENT_EMOJI[parsed.agent] || ':robot_face:';\nconst blocks = [];\n\nif (parsed.isTask) {\n  blocks.push({\n    type: 'header',\n    text: { type: 'plain_text', text: ':white_check_mark: ' + parsed.agent + ' \u2014 task complete', emoji: true }\n  });\n  if (parsed.taskTitle) {\n    blocks.push({\n      type: 'context',\n      elements: [{ type: 'mrkdwn', text: '_' + parsed.taskTitle.slice(0, 100) + '_' }]\n    });\n  }\n} else {\n  blocks.push({\n    type: 'header',\n    text: { type: 'plain_text', text: emoji + ' ' + parsed.agent, emoji: true }\n  });\n  blocks.push({\n    type: 'context',\n    elements: [{ type: 'mrkdwn', text: 'responding to <@' + parsed.userId + '>' }]\n  });\n}\n\nblocks.push({ type: 'divider' });\nblocks.push({ type: 'section', text: { type: 'mrkdwn', text: truncated } });\nblocks.push({\n  type: 'context',\n  elements: [{ type: 'mrkdwn', text: '_model: ' + (parsed.model || parsed.agent + ':latest') + '_' }]\n});\n\nreturn [{ json: {\n  channelId: parsed.channelId,\n  thread_ts: parsed.ts,\n  payload: JSON.stringify({\n    channel: parsed.channelId,\n    thread_ts: parsed.ts,\n    blocks\n  })\n}}];\n"
      },
      "id": "node-format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload }}",
        "options": {}
      },
      "id": "node-post",
      "name": "Post Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-ack-council",
      "name": "Ack Council",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/the-council",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "node-forward-council",
      "name": "Forward to Council",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        600
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-ack-task",
      "name": "Ack Task",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        750
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/slack-tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "node-forward-tasks",
      "name": "Forward to Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        750
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Event": {
      "main": [
        [
          {
            "node": "Switch Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Route": {
      "main": [
        [
          {
            "node": "Return Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack Ignore",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack Council",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Event": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Post Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Council": {
      "main": [
        [
          {
            "node": "Forward to Council",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Task": {
      "main": [
        [
          {
            "node": "Forward to Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "active": true,
  "id": "f5rTNCSNGXwKiwvE"
}
